<template>
    <select-kamion
            :back-router-name="(modify || changed) ? 'select-logtime-informations' : 'list-logtimes'"
            :next-router-name="(modify || changed) ? 'select-logtime-informations' : 'select-logtime-instruction'"
            :header-title="(modify || changed)  ? 'Choix kamion' : '1/3 : Choix kamion'"
            @loadingControl="loadingControl($event)">
    </select-kamion>
</template>

<script>
    import SelectKamion from "../../../components/SelectKamion";
    export default {
        components: {SelectKamion},
        data() {
            return {
                modify:false,
                changed:false
            }
        },
        methods: {
          loadingControl(e) {
              this.$emit('loadingControl', e);
          }
        },
        mounted() {
            this.modify = this.$store.state.editData.data.mode === 'modify';
            this.changed = this.$store.state.editData.data.change === true;
        }
    }
</script>

<style lang="stylus" scoped>
</style>