<template>
    <select-instruction
            :back-router-name="(modify || changed)  ? 'select-logtime-informations' : 'select-logtime-kamion'"
            next-router-name="select-logtime-informations"
            :header-title="(modify || changed)  ? 'Choix instruction' : '2/3 : Choix instruction'"
            @loadingControl="loadingControl($event)">
    </select-instruction>
</template>

<script>
    import SelectInstruction from "../../../components/SelectInstruction";
    export default {
        components: {SelectInstruction},
        data() {
            return {
                modify:false,
                changed:false
            }
        },
        methods: {
          loadingControl(e) {
              this.$emit('loadingControl', e);
          }
        },
        mounted() {
            this.modify = this.$store.state.editData.data.mode === 'modify';
            this.changed = this.$store.state.editData.data.change === true;
        }
    }
</script>

<style lang="stylus" scoped>
</style>