<template>
    <div>
        <!-- region main -->
        <v-list two-line subheader class="data">
            <v-subheader>{{modify ? 'Modifier' : 'Ajouter'}} un temps</v-subheader>
            <list-tile-field
                    title="Durée*"
                    sub-title="Saisissez votre temps"
                    type="select"
                    :items="logtimeItems"
                    @updateField="validate('length', $event)"
                    :editable="models.length === 0"
                    :model="models.length">
            </list-tile-field>
            <template v-if="(instruction !== null && instruction.label === 'Autre') || (kamion !== null && kamion.id === 1)">
                <list-tile-field title="Remarque*" sub-title="Saisissez votre remarque" @updateField="validate('remark', $event)" :model="models.remark"></list-tile-field>
            </template>

                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Kamion lié*</v-list-tile-title>
                        <v-list-tile-sub-title>{{kamion === null || kamion === undefined ? '--' : kamion.name}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn icon ripple @click="$store.dispatch('updateEditData', {key: 'change', value: true})" :to="{name:'select-logtime-kamion'}">
                            <v-icon color="grey lighten-1">edit</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Instruction liée*</v-list-tile-title>
                        <v-list-tile-sub-title>{{ getInstructionSubtitle }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn icon ripple @click="$store.dispatch('updateEditData', {key: 'change', value: true})" :to="{name:'select-logtime-instruction'}">
                            <v-icon color="grey lighten-1">edit</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list subheader two-line>
                <v-subheader>Informations Générales</v-subheader>

                    <v-list-tile v-if="todayTime !== null">
                        <v-list-tile-content>
                            <v-list-tile-title>Temps travail jour</v-list-tile-title>
                            <v-list-tile-sub-title :class="{'red--text':longerTodayTime}">{{formatMin(todayTime + models.length)}} / {{formatMin(durationTimeToday)}}</v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <template v-if="instruction !== null">
                        <v-list-tile v-if="myTimeInstruction !== null">
                            <v-list-tile-content>
                                <v-list-tile-title>Temps sur instruction (moi)</v-list-tile-title>
                                <v-list-tile-sub-title>{{formatMin(myTimeInstruction + models.length)}}</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>


                        <v-list-tile v-if="teamTimeInstruction !== null">
                            <v-list-tile-content>
                                <v-list-tile-title>Temps sur instruction (équipe)</v-list-tile-title>
                                <v-list-tile-sub-title>{{formatMin(teamTimeInstruction + models.length)}}</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>


                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Compagnon</v-list-tile-title>
                        <v-list-tile-sub-title>{{$store.state.auth.user.first_name}} {{$store.state.auth.user.last_name}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>

            <template v-if="modify">
                <v-divider></v-divider>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Supprimer</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-btn icon ripple @click="dialogSureToDelete = true">
                            <v-icon color="grey lighten-1">delete</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </template>
        </v-list>
        <!-- endregion -->

        <!-- region dialogSureToLeave -->
        <v-dialog v-model="dialogSureToLeave" persistent max-width="500px">
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap >
                            <v-flex xs12 body-2>
                               Etes-vous sûr de quitter cette page sans avoir enregistré les informations saisies ?
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn round flat @click.native="dialogSureToLeave = false">Annuler</v-btn>
                    <v-btn round outline flat @click.native="sureToLeave">Oui</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- endregion -->

        <!-- region dialogLongerTime -->
        <v-dialog v-model="dialogLongerTime" persistent max-width="500px">
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap >
                            <v-flex xs12 body-2>
                                Etes-vous sûr de bien vouloir ajouter un temps supérieur au temps de la journée <span class="red--text">{{formatMin(todayTime + models.length)}} / {{formatMin(durationTimeToday)}}</span> ?
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn round flat @click.native="dialogLongerTime = false">Corriger</v-btn>
                    <v-btn round outline flat @click.native="editLogTime">Oui</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- endregion -->

        <!-- region dialogSureToDelete -->
        <v-dialog v-model="dialogSureToDelete" persistent max-width="500px">
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap >
                            <v-flex xs12 body-2>
                                Etes-vous sûr de vouloir supprimer cette sortie temps ?
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn round flat @click.native="dialogSureToDelete = false">Annuler</v-btn>
                    <v-btn round outline flat @click.native="sureToDelete">Oui</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- endregion -->
    </div>
</template>

<script>
    import moment from 'moment'
    import ListTileField from "../../../components/ListTileField";
    export default {
        components: {ListTileField},
        data() {
            return {
                instruction:null,
                kamion:null,
                models: {
                    length: 0,
                    remark: '',
                },
                logtimeItems:[],
                dialogSureToLeave:false,
                dialogLongerTime:false,
                dialogSureToDelete:false,
                modify:false,
                kamions:{},
                todayTime:null,
                myTimeInstruction:null,
                teamTimeInstruction:null,
                lengthSaved:0,
            }
        },
        computed: {
            /**Get instruction subtitle for print*/
            getInstructionSubtitle() {
                let result = 'Autre';
                if (this.instruction !== null && this.instruction !== undefined) {
                    if (this.instruction.wana_number !== null) {
                        result = this.instruction.wana_number + ' - ' + this.instruction.label;
                    }
                    else {//for Break and Other Instruction
                        result = this.instruction.label;
                    }
                }
                return result;
            },
            /** Return the length of the time duration for today
             * @return {int}
             */
            durationTimeToday() {
                let durationTimeToday;

                if (this.$store.state.durations.data.specialDuration === null) {
                    durationTimeToday = this.$store.state.durations.data.todayDuration.value;
                }
                else {
                    durationTimeToday = this.$store.state.durations.data.specialDuration.duration;
                }

                return durationTimeToday;
            },
            /** Check if the time is longer
             * @return {boolean}*/
            longerTodayTime() {
                return (((this.todayTime + this.models.length) / this.durationTimeToday) > 1)
            },
            /*Return the breaktime*/
            breakTime() {
                return this.$store.state.durations.data.breakTime.value;
            }
        },
        methods: {
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min/60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            validate(key, value) {
                this.models[key] = value;
                this.$store.dispatch('updateEditData', {key, value});
                this.$store.dispatch('updateEditData', {key: 'change', value: true});
                this.validateFields();
            },
            /*Check fields to enable or not the add button*/
            validateFields() {

                let footerOptions = this.$store.state.footer.data.oneButton;

                if (this.models.length > 0) {//not modified validation fields
                    footerOptions.disabled = false;
                }
                else {
                    footerOptions.disabled = true;
                }

                let haveRemark = ((this.instruction !== null && this.instruction.label === 'Autre') || (this.kamion !== null && this.kamion.id === 1));
                let emptyRemark = (this.models.remark === null || this.models.remark.length < 1);

                if (haveRemark && emptyRemark) {//validation remark field
                    footerOptions.disabled = true;
                }

                if (this.modify && this.$store.state.editData.data.change === false) {
                    footerOptions.disabled = true;
                }

                this.$store.dispatch('updateFooterData', {key: 'oneButton', value: footerOptions});
            },
            getDataFromApi() {
                this.$emit('loadingControl', true);
                //get the information about the instruction
                if (this.$store.state.editData.data.instruction_id !== null) {
                    this.axios.get(`${process.env.API}/instructions/${this.$store.state.editData.data.instruction_id }`).then(instruction => {
                        this.instruction = instruction.data.data;
                        this.validateFields();
                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }

                //get the information about the kamion
                if (this.$store.state.editData.data.kamion_id !== null) {
                    this.axios.get(`${process.env.API}/kamions/${this.$store.state.editData.data.kamion_id }`).then(kamion => {
                        this.kamion = kamion.data.data;
                        this.validateFields();
                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }

                if (this.models.length === 0) {
                    this.models.length = this.$store.state.editData.data.length;
                    this.lengthSaved   = this.$store.state.editData.data.length;
                }

                if (this.models.remark === '') {
                    this.models.remark = this.$store.state.editData.data.remark;
                }

            },
            setHeader() {
                this.$store.dispatch('setHeaderData', {
                    data: {
                        title: this.modify ? 'Choix durée et validation' : '3/3 : Choix durée et validation',
                        search: null,
                        back: {
                            icon: 'close',
                            function: () => {
                                if (!this.modify && this.models.length > 0 || this.models.remark.length > 0) {
                                    this.dialogSureToLeave = true;
                                }
                                else {
                                    if (this.modify) {
                                        this.$store.dispatch('setEditData', {
                                            data: {}
                                        });
                                        this.$router.push({name:'list-logtimes'});
                                    }
                                    else {
                                        this.$store.dispatch('updateEditData', {key: 'change', value: false});
                                        this.$router.push({name:'select-logtime-instruction'});
                                    }
                                }
                            }
                        },
                        option: null
                    }
                });
            },
            /*Use the good method if the mode is modify or add*/
            editLogTime() {
                let footerOptions = this.$store.state.footer.data.oneButton;
                footerOptions.disabled = true;
                this.$store.dispatch('updateFooterData', {key: 'oneButton', value: footerOptions});
                if (this.modify) {
                    this.modifyLogtime()
                }
                else {
                    this.addLogtime()
                }
            },
            /*Add Logtime*/
            addLogtime() {
                //prepare data for logtime api
                let data = {
                    length: this.$store.state.editData.data.length,
                    user_id: this.$store.state.auth.user.id,
                    kamion_id: this.$store.state.editData.data.kamion_id === null ? 1 : this.$store.state.editData.data.kamion_id,//need to be remove after
                    instruction_id: this.$store.state.editData.data.instruction_id,
                    status_logtime_id: 1,
                    remark:null,
                    timecard_id:null
                };
                if ((this.instruction !== null && this.instruction.label === 'Autre') || (this.kamion !== null && this.kamion.id === 1)) {
                    data.remark = this.$store.state.editData.data.remark;
                }

                //create a time card with the selected date if not exist one else use the timecard with the same date
                let formatedDate = moment(this.date).format('YYYY-MM-DD');
                this.axios.get(`${process.env.API}/timecards?filters=date|=|${formatedDate},user_id|=|${this.$store.state.auth.user.id}`).then(timecards => {
                    if (timecards.data.data.length > 0) {
                        data.timecard_id = timecards.data.data[0].id;
                        this.addLogTimeToApi(data);
                    }
                    else {
                        this.axios.post(`${process.env.API}/timecards`, {
                            date: formatedDate,
                            user_id: this.$store.state.auth.user.id,
                        }).then(timecard => {
                            data.timecard_id = timecard.data.id;
                            this.addLogTimeToApi(data);
                        });
                    }
                });
            },
            /**
             * Add Logtime + logtimehistory
             * @param {Object} data : logtime data
             */
            addLogTimeToApi(data) {
                this.axios.post(`${process.env.API}/logtimes`, data).then((logtime) => {
                    this.$http.post(`${process.env.API}/logtimehistories`,{
                        type: 		'submitted',
                        user_id:    this.$store.state.auth.user.id,
                        remark:     '',
                        logtime_id: logtime.id
                    }).then(() => {
                        this.$store.dispatch('setEditData', {
                            data: {}
                        });
                        this.$router.push({ name:'list-logtimes'});
                    });
               })
            },
            /*Update Logtime data*/
            modifyLogtime() {
                //prepare data for api
                let data = {
                    length: this.$store.state.editData.data.length,
                    kamion_id: this.$store.state.editData.data.kamion_id,
                    instruction_id: this.$store.state.editData.data.instruction_id,
                    remark:null
                };
                if ((this.instruction !== null && this.instruction.label === 'Autre') || (this.kamion !== null && this.kamion.id === 1)) {
                    data.remark = this.$store.state.editData.data.remark;
                }
                this.axios.put(`${process.env.API}/logtimes/${this.$store.state.editData.data.id}`, data).then((response) => {
                    this.$store.dispatch('setEditData', {
                        data: {}
                    });
                    this.$router.push({ name:'list-logtimes'});
                })
            },
            /*Create select times item*/
            createItems() {
                let min = 0;
                for (let i = 0; i< 8; i++) {
                    for (let j = 1; j<= 4; j++) {
                        min = (i * 60) + (j * 15);
                        this.logtimeItems.push({
                            key: min / 15,
                            value: (min % 60) ? "0" + i + ":" + (j * 15) : "0" + (i+1) + ":00"
                        })
                    }
                }

            },
            /**
             *  Calculate the today time of the selected compagnon
             */
            calcTodayTime() {
                let today = new Date().toISOString().slice(0,10);
                let todayTime = 0;
                let filterKamion = this.allKamion ? '' : `,logtime.kamion_id|=|${this.$store.state.editData.data.kamion_id}`;
                this.axios.get(`${process.env.API}/timecards?embed=logtimes&filters=date|=|${today},user_id|=|${this.$store.state.auth.user.id}${filterKamion}`).then(response => {
                    response.data.data.forEach((timecard) => {
                        todayTime += timecard.cumul;
                    });

                    todayTime -= this.lengthSaved;

                    this.todayTime = todayTime + this.breakTime;
                });

            },
            /**
             *  Calculate the time of the selected compagnon in the instruction
             */
            calcMyTimeInstruction() {
                let myTimeInstruction = 0;
                let filterKamion = this.allKamion ? '' : `,logtime.kamion_id|=|${this.$store.state.editData.data.kamion_id}`;
                this.axios.get(`${process.env.API}/logtimes?filters=instruction_id|=|${this.$store.state.editData.data.instruction_id},user_id|=|${this.$store.state.auth.user.id}${filterKamion}`).then(response => {
                    response.data.data.forEach((logtime) => {
                        myTimeInstruction += logtime.length;
                    });
                    this.myTimeInstruction = myTimeInstruction;
                });
            },
            /**
             *  Calculate the time of the team in the instruction
             */
            calcTeamTimeInstruction() {
                let teamTimeInstruction = 0;
                let filterKamion = this.allKamion ? '' : `,logtime.kamion_id|=|${this.$store.state.editData.data.kamion_id}`;
                this.axios.get(`${process.env.API}/logtimes?filters=instruction_id|=|${this.$store.state.editData.data.instruction_id}${filterKamion}`).then(response => {
                    response.data.data.forEach((logtime) => {
                        teamTimeInstruction += logtime.length;
                    });
                    this.teamTimeInstruction = teamTimeInstruction;
                });
            },
            /*Clean store data and exit*/
            sureToLeave() {
                if (this.modify) {
                    this.$store.dispatch('setEditData', {
                        data: {}
                    });
                    this.$router.push({name:'list-logtimes'});
                }
                else {
                    this.$store.dispatch('updateEditData', {key: 'remark', value: ''});
                    this.$store.dispatch('updateEditData', {key: 'length', value: 0});
                    this.$store.dispatch('updateEditData', {key: 'change', value: false});
                    this.$router.push({name:'select-logtime-instruction'});
                }
            },
            /*Delete the logtime*/
            sureToDelete() {
                this.axios.delete(`${process.env.API}/logtimes/${this.$store.state.editData.data.id}`).then(() => {
                    this.$store.dispatch('setEditData', {
                        data: {}
                    });
                    this.$router.push({name:'list-logtimes'});
                });
            }
        },
        mounted() {
            this.allKamion = !this.$store.state.single.data.id;
            this.modify = this.$store.state.editData.data.mode === 'modify';

            this.calcTodayTime();
            this.calcMyTimeInstruction();
            this.calcTeamTimeInstruction();

            this.getDataFromApi();
            this.createItems();
            this.setHeader();

            //set footer
            this.$store.dispatch('setFooterData', {
                data: {
                    display:true,
                    oneButton: {
                        function : () => {
                            if (this.longerTodayTime) {
                                this.dialogLongerTime = true;
                            }
                            else {
                                this.editLogTime();
                            }
                        },
                        text : this.modify ? 'Modifier' : 'Ajouter',
                        disabled: true
                    }
                }
            });
        }
    }
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/variables.styl'

    .list.data {
        padding-bottom: 4rem;
    }

    .list.data >>> .list__tile__title {
        font-weight: 500;
    }

    div.dialog {
        div.card__actions {
            button.btn, a.btn {
                color:$secondary-dark-color;
                text-transform none
            }
        }

        nav.fix-sticky-toolbar {
            position: sticky !important;
            top:0;
            left:0;
            z-index:2;
        }

    }

</style>