<template>
    <div>
        <v-list v-if="material" two-line>
            <template>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Quantité</v-list-tile-title>
                        <v-list-tile-sub-title v-if="material_resource">{{material.quantity}} / {{material_resource.unit_label}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Article</v-list-tile-title>
                        <v-list-tile-sub-title v-if="material_resource">{{material_resource.wana_id}} - {{material_resource.label}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>

            </template>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Date d'ajout</v-list-tile-title>
                    <v-list-tile-sub-title>{{moment($route.params.status === 'soumises' ? material.created_at : material.dAteSortie).format('DD MMMM YYYY')}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>

            <template v-if="$route.params.status === 'validees'">
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Date de validation</v-list-tile-title>
                        <v-list-tile-sub-title>{{moment(material.dAteValidation).format('DD MMMM YYYY')}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>
            </template>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Statut</v-list-tile-title>
                    <v-list-tile-sub-title>{{$route.params.status === 'soumises' ? 'Soumises' : 'Validées'}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
        </v-list>
        <v-list v-if="material" two-line subheader>
            <v-subheader>Informations Générales</v-subheader>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Kamion lié</v-list-tile-title>
                    <v-list-tile-sub-title v-if="kamion">{{kamion.name}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-list v-if="instruction" three-line>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Instruction liée</v-list-tile-title>
                    <v-list-tile-sub-title v-if="instruction">
                        <template v-if="instruction.job">
                            {{instruction.wana_number}} - {{instruction.job.label}}<br/>
                        </template>
                        {{instruction.label}}
                    </v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-list two-line>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Compagnon</v-list-tile-title>
                    <v-list-tile-sub-title>{{$store.state.auth.user.first_name}} {{$store.state.auth.user.last_name}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </div>
</template>

<script>
    import moment from 'moment'
    moment.locale('fr');
    export default {
        data() {
            return {
                material: {},
                kamion:{},
                instruction:{},
                material_resource:{},
                moment,
                allKamion:false
            }
        },
        methods: {
            /*Get Data From Api*/
            getDataFromApi() {
                this.material = {};
                this.$emit('loadingControl', true);

                //Own Api
                if (this.$route.params.status === 'soumises') {
                    this.axios.get(`${process.env.API}/materials/${this.$route.params.id}?embed=instruction.job,kamion,material_resource`).then(response => {
                        this.material = response.data.data;
                        this.material_resource = this.material.material_resource;
                        this.kamion = this.material.kamion;
                        this.instruction = this.material.instruction;

                        //set the header
                        this.$store.dispatch('setHeaderData',{
                            data :{
                                title: this.material.material_resource.wana_id + ' - ' + this.material.material_resource.label,
                                back: {
                                    icon: 'arrow_back',
                                    function: () => {
                                        this.$router.push({ name:'list-materials', params: {status: this.$route.params.status}});
                                    }
                                }
                            }
                        });
                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }
                //Wana
                else {
                    let kamionFilter = '';
                    kamionFilter = this.$store.state.single.data.wana_id;
                    this.axios.get(`${process.env.WANA}/sortieMatiere/${this.$store.state.auth.user.id}/${kamionFilter}`).then(response => {
                        this.material = response.data[this.$route.params.id];
                        this.material.quantity = this.material.rQtte;
                        this.material_resource = {
                            unit_label:this.material.sUniteMatiere,
                            wana_id:this.material.sNum,
                            label:this.material.sDescription
                        }

                        //set the header
                        this.$store.dispatch('setHeaderData',{
                            data :{
                                title: this.material_resource.wana_id + ' - ' + this.material_resource.label,
                                back: {
                                    icon: 'arrow_back',
                                    function: () => {
                                        this.$router.push({ name:'list-materials', params: {status: this.$route.params.status}});
                                    }
                                }
                            }
                        });

                        this.axios.get(`${process.env.API}/kamions?filters=wana_id|=|${this.material.nUmKamion}`).then(response => {
                            this.kamion = response.data.data[0];
                        });
                        this.axios.get(`${process.env.API}/instructions?filters=wana_id|=|${this.material.nUmInstruction}`).then(response => {
                            this.instruction = response.data.data[0];
                        });
                        this.axios.get(`${process.env.API}/users?filters=wana_id|=|${this.material.nKspe}`).then(response => {
                            this.user = response.data.data[0];
                        });

                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }
            },
        },
        mounted() {
            this.getDataFromApi();
            /*Don't display footer */
            this.$store.dispatch('setFooterData', {
                data: {
                    display:false
                }
            });

        }
    }
</script>

<style scoped>

</style>