<template lang="html">
    <div>
        <v-list three-line>
            <template v-for="item in elements">
                <v-list-tile ripple :to="{ name:'single-elements', params: { id: item.id }}">
                    <v-list-tile-content class="poe-list-tile-content">
                        <div class="two-line-list-description">{{item.content}}</div>
                        <span class="break-line-span"><br /></span>
                        <div class="two-line-list-description"
                        v-if="!!item.supplement">{{item.supplement.content}}</div>
                        <div class="date-line">{{item.updated_at}} - {{getOpenness(item)}}</div>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-icon>keyboard_arrow_right</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
                <v-divider></v-divider>
            </template>
        </v-list>
    </div>

</template>

<script>
export default {
	data() {
		return {
			elements: [],
            search :''
		}
	},
	methods: {
		getDataFromApi() {
            let stringFilter = '?filters=chapter.kamion_id|=|'+
                this.$store.state.single.data.id;
            if (this.search.length > 0){
                stringFilter +=',content|like|~'+this.search+'~';
            }
            if (this.$store.state.rightMenu.data.id >0){
                stringFilter +=  ',chapter_id|=|'+this.$store.state.rightMenu.data.id;
            }

            stringFilter += '&embed=supplement';

			this.axios.get(`${process.env.API}/elements${stringFilter}`)
				.then(response => {
					this.elements = response.data.data;
                });
		},
        getOpenness(item) {
            if (item.is_open) {return 'Ouvert'} else {return 'Fermé'}
        }
	},
	mounted() {
		this.getDataFromApi();
        this.$store.dispatch('setHeaderData',{
            data :{
                title:'Chemin des attentes',
                search:(search)=>{
                    this.search = search;
                    this.getDataFromApi();
                },
                option: {
                    icon: require('../../../assets/img/hamburger_cda.svg'),
                    function:()=>{
                        if (this.$store.state.rightMenu.data.id >0){
                            this.$eventHub.$emit('open-right-menu');
                            this.$eventHub.$emit('open-right-sub-menu');
                        } else {
                            this.$eventHub.$emit('open-right-menu');
                        }
                    },
                }
            }
        });
        this.$eventHub.$on('choose-chapter', ()=>{
            let chapter = this.$store.state.rightMenu.data;
            this.$store.dispatch('updateHeaderData',{
                key :'title',
                value:chapter === null ? 'Chemin des attentes' : chapter.title
            });
            this.getDataFromApi()
        });
	},
    beforeDestroy(){
        this.$eventHub.$off('choose-chapter');
    }
}
</script>

<style lang="stylus" scoped>

    .two-line-list-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 110%;
        font-size: 1.2rem;

    }

    .break-line-span {
        line-height: 50%
        font-size: 1.2rem;
    }
    .date-line{
        font-size: 1.2rem;
    }

</style>
