<template>
    <select-instruction
            wana
            :display-special-instruction="false"
            :header-title="(modify || changed) ? 'Choix Instruction' : '2/4 : Choix instruction'"
            :back-router-name="(modify || changed) ? 'select-material-informations' : 'select-material-kamion'"
            :next-router-name="(modify || changed) ? 'select-material-informations' : 'select-material-materialresource'"
            @loadingControl="loadingControl($event)">

    </select-instruction>
</template>


<script>
    import SelectInstruction from "../../../components/SelectInstruction";
    export default {
        components: {SelectInstruction},
        data() {
            return {
                changed:false,
                modify:false
            }
        },
        methods: {
            /*Emit the loadingControl to work properly*/
            loadingControl(e) {
                this.$emit('loadingControl', e);
            }
        },
        mounted() {
            this.modify = this.$store.state.editData.data.mode === 'modify';//if the user try to modify content
            this.changed = this.$store.state.editData.data.change === true;//if the use have update content
        }
    }
</script>

<style lang="stylus" scoped>
</style>