<template>
    <div>
        <!-- region search/recent -->
        <template v-if="!all">

            <div v-if="search.length < 3">

                <v-list v-if="last_materials.length > 0" two-line subheader>
                    <v-subheader>Dernières matières utilisées</v-subheader>
                    <template v-for="(material, index) in last_materials">
                        <v-list-tile :key="index" @click="goToInformations(material)">
                            <v-list-tile-content v-if="material.wana_id !== null">
                                <v-list-tile-title>
                                    {{material.wana_id}}<span v-if="material.metier">  — {{material.metier}}</span>
                                </v-list-tile-title>
                                <v-list-tile-sub-title>
                                    {{material.label}}
                                </v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-content v-else>
                                <v-list-tile-title>
                                    {{material.label}}
                                </v-list-tile-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-icon>keyboard_arrow_right</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-divider></v-divider>
                    </template>
                </v-list>


                <v-list class="all-materials" two-line>
                    <v-divider></v-divider>
                    <v-list-tile @click="toogleAllMaterial">
                        <v-list-tile-content>
                            <v-list-tile-title class="text-xs-center blue--text">Voir toutes les matières</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </div>

            <v-list v-else two-line>

                <template v-for="(material, index) in materialresources" v-if="material.wana_id !== null">
                    <v-list-tile :key="index" @click="goToInformations(material)">
                        <v-list-tile-content>
                            <v-list-tile-title>{{material.wana_id}}<span v-if="material.metier">  &mdash; {{material.metier}}</span></v-list-tile-title>
                            <v-list-tile-sub-title>
                                {{material.label}}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>
                </template>

                <template v-if="materialresources.length == 0">
                    <v-divider></v-divider>
                    <v-list-tile v-if="materialresources.length == 0" @click="toogleAllMaterial">
                        <v-list-tile-content>
                            <v-list-tile-title class="text-xs-center grey--text">Aucun résultats ne correspond à votre recherche</v-list-tile-title>
                            <v-list-tile-sub-title class="text-xs-center blue--text">
                                Voir toutes les matières
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </template>
        <!-- endregion -->

        <!-- region all material -->
        <template v-else>
            <v-list two-line class="list-all-materials">
                <template v-for="(material, index) in materialresources" v-if="material.wana_id !== null">
                    <v-list-tile :key="index" @click="goToInformations(material)">
                        <v-list-tile-content>
                            <v-list-tile-title>{{material.wana_id}}<span v-if="material.metier">  &mdash; {{material.metier}}</span></v-list-tile-title>
                            <v-list-tile-sub-title>
                                {{material.label}}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>
                </template>

            </v-list>
            <div class="text-xs-center pagination-container">
                <v-pagination :length="maxpage" v-model="pagination"></v-pagination>
            </div>
        </template>
        <!-- endregion -->

    </div>
</template>

<script>
    export default {
        data()  {
            return {
                search:'',
                all:false,
                modify:false,
                materialresources:[],
                last_materials:[],
                pagination:1,
                maxpage:1
            }
        },
        watch: {
          pagination(value) {
              this.getDataFromApi();
          }
        },
        methods: {
            goToInformations(materialresource) {
                this.$store.dispatch('updateEditData', {key:'materialresource_id', value : materialresource.id});
                this.$store.dispatch('updateEditData', {key:'materialresource_wana_id', value : materialresource.wana_id});
                this.axios.post(`${process.env.API}/users/last_materialresource/${materialresource.id}`);
                this.$router.push({name: 'select-material-informations'});
            },
            toogleAllMaterial() {
                this.all = !this.all;
                this.getDataFromApi();
                this.setHeader();
                this.$store.dispatch('updateFooterData', {key:'display', value : !this.all});
            },
            getDataFromApi() {
                this.$emit('loadingControl', true);
                if (!this.all) {

                    //get last materialresource
                    this.axios.get(`${process.env.API}/users/${this.$store.state.auth.user.id}/last_materialresource`).then(response => {
                        this.last_materials = response.data;
                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });


                    if (this.search.length > 0) {
                        this.axios.get(`${process.env.API}/materialresources?search=${this.search}&order=wana_id|asc`).then(response => {
                            this.materialresources = response.data.data;
                            this.$emit('loadingControl', false);
                        }).catch(error => {
                            this.$emit('loadingControl', false);
                        });
                    }
                }
                else {
                    this.axios.get(`${process.env.API}/materialresources?order=wana_id|asc&page=${this.pagination}`).then(response => {
                        this.materialresources = response.data.data;
                        this.maxpage = Math.ceil(response.data.count / response.data.per_page);
                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }

            },
            setHeader() {
                    this.$store.dispatch('setHeaderData', {
                        data: {
                            title: this.modify || this.changed ? 'Choix article' : '3/4 : Choix article',
                            search: {
                                function:(searchModel) => {
                                    this.search = searchModel;
                                    if (this.search.length > 2) {
                                        this.getDataFromApi();
                                    }
                                },
                                position:"normal",
                                placeholder: 'ID / Nom / Famille'
                            },
                            option: null,
                            back: {
                                icon: 'arrow_back',
                                function: () => {
                                    this.$router.push({name: 'select-material-instruction'})
                                }
                            }
                        }
                    });
            },
            setFooter() {
                this.$store.dispatch('setFooterData', {
                    data: {
                        display:true,
                        oneButton : {
                            function: () => {
                                this.scanMaterial();
                            },
                            text:'Scan',
                            icon:'mdi-barcode',
                            disabled: !window.cordova
                        }
                    }
                });
            },
            /* Scan material barcode with the camera of the phone */
            scanMaterial() {
                if (!!window.cordova) {

                    cordova.plugins.barcodeScanner.scan( //bar codes scanner launch
                        (result) => {
                            if (!result.cancelled) {
                                this.$emit('loadingControl', true);
                                this.axios.get(`${process.env.API}/materialresources?filters=wana_id|=|${result.text}`).then(response => {
                                    //if find a correlation between the api and the returned data by the scan
                                    if (response.data.data.length === 1) {
                                        let materialresource = response.data.data[0];
                                        this.$store.dispatch('updateEditData', {key:'materialresource_id', value : materialresource.id});
                                        this.$store.dispatch('updateEditData', {key:'materialresource_wana_id', value : materialresource.wana_id});
                                        this.axios.post(`${process.env.API}/users/last_materialresource/${materialresource.id}`);
                                        this.$emit('loadingControl', false);
                                        this.$router.push({name: 'select-material-informations'});
                                    }
                                    else {
                                        alert("Code matière introuvable");
                                        this.$emit('loadingControl', false);
                                    }
                                }).catch(error => {
                                    this.$emit('loadingControl', false);
                                });
                            }
                            //document.removeEventListener("backbutton", this.preventBackButton, false );
                        },
                        (error) => {
                            alert("Erreur lors du scan");
                        },
                        { //bar codes scanner options
                            preferFrontCamera: false, // iOS and Android
                            showFlipCameraButton: false, // iOS and Android
                            showTorchButton: true, // iOS and Android
                            torchOn: false, // Android, launch with the torch switched on (if available)
                            prompt: "Placez votre code matière à l'intérieur de la zone de scan", // Android
                            formats: "CODE_128", //Code used by TTK
                            //resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
                        }
                    );
                }
            },
            /* Deactivate back button in mobile to prevent back to previous screen */
            preventBackButton(e) {
                e.preventDefault();
            }
        },
        mounted() {
            this.changed = this.$store.state.editData.data.change === true;
            this.modify = this.$store.state.editData.data.mode === 'modify';
            this.setHeader();
            this.setFooter();
            this.getDataFromApi();
            document.addEventListener("backbutton", this.preventBackButton, false );
        },
        beforeDestroy() {
            document.removeEventListener("backbutton", this.preventBackButton, false );
        },
    }
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/variables'

    div.list-all-materials {
        padding-bottom : 4rem;
    }

    div.all-materials {
        position: absolute;
        bottom: $app-bottom-height;
        width: 100%;
        padding: 0;
    }

    div.pagination-container {
        background-color:#fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.5rem 0;
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    }

</style>