<template>
    <select-kamion
            wana
            :back-router-name="(modify || changed) ? 'select-material-informations' : 'list-materials'"
            :next-router-name="(modify || changed) ? 'select-material-informations' : 'select-material-instruction'"
            :header-title="(modify || changed) ? 'Choix Kamion' : '1/4 : Choix kamion'"
            @loadingControl="loadingControl($event)">
    </select-kamion>
</template>

<script>
    import SelectKamion from "../../../components/SelectKamion";
    export default {
        components: {SelectKamion},
        data() {
            return {
                modify:false,
                changed:false
            }
        },
        methods: {
            /*Emit the loadingControl to work properly*/
            loadingControl(e) {
                this.$emit('loadingControl', e);
            }
        },
        mounted() {
            this.modify = this.$store.state.editData.data.mode === 'modify';//if the user try to modify content
            this.changed = this.$store.state.editData.data.change === true;//if the use have update content
        }
    }
</script>

<style lang="stylus" scoped>
</style>