<template>
    <div class="edit-material-information">
        <v-list two-line subheader class="data">
            <v-subheader>Ajouter une sortie matière</v-subheader>
            <list-tile-field
                    v-if="materialresource"
                    :suffix="materialresource.unit_label"
                    type="number"
                    title="Quantité*"
                    sub-title="Saisissez votre quantité"
                    :editable="models.quantity === null"
                    @updateField="validate('quantity', $event)"
                    :model="models.quantity">
            </list-tile-field>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Kamion lié*</v-list-tile-title>
                    <v-list-tile-sub-title>{{kamion === null || kamion === undefined ? '--' : kamion.wana_id + ' - ' + kamion.name}}</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-btn icon ripple :to="{name:'select-material-kamion'}" @click="$store.dispatch('updateEditData', {key: 'change', value: true})">
                        <v-icon color="grey lighten-1">edit</v-icon>
                    </v-btn>
                </v-list-tile-action>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Instruction liée*</v-list-tile-title>
                    <v-list-tile-sub-title>{{ getInstructionSubtitle }}</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-btn icon ripple :to="{name:'select-material-instruction'}" @click="$store.dispatch('updateEditData', {key: 'change', value: true})">
                        <v-icon color="grey lighten-1">edit</v-icon>
                    </v-btn>
                </v-list-tile-action>
            </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list two-line subheader>
            <v-subheader>Informations Générales</v-subheader>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Article</v-list-tile-title>
                    <v-list-tile-sub-title>{{getMaterialresourceSubtitle}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Compagnon</v-list-tile-title>
                    <v-list-tile-sub-title>{{$store.state.auth.user.first_name}} {{$store.state.auth.user.last_name}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-list-tile v-if="modify">
                <v-list-tile-content>
                    <v-list-tile-title>Supprimer</v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-btn icon ripple @click="dialogSureToDelete = true">
                        <v-icon color="grey lighten-1">delete</v-icon>
                    </v-btn>
                </v-list-tile-action>
            </v-list-tile>
        </v-list>


        <!-- region dialogSureToLeave -->
        <v-dialog v-model="dialogSureToLeave" persistent max-width="500px">
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap >
                            <v-flex xs12 body-2>
                                Etes-vous sûr de quitter cette page sans avoir enregistré les informations saisies ?
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn round flat @click.native="dialogSureToLeave = false">Annuler</v-btn>
                    <v-btn round outline flat @click.native="sureToLeave">Oui</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- endregion -->

        <!-- region dialogSureToDelete -->
        <v-dialog v-model="dialogSureToDelete" persistent max-width="500px">
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap >
                            <v-flex xs12 body-2>
                                Etes-vous sûr de vouloir supprimer cette sortie matière ?
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn round flat @click.native="dialogSureToDelete = false">Annuler</v-btn>
                    <v-btn round outline flat @click.native="sureToDelete">Oui</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- endregion -->

        <!-- region dialogSureToAdd -->
        <v-dialog v-model="dialogSureToAdd" persistent max-width="500px">
            <v-card>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap >
                            <v-flex xs12 body-2>
                                Etes-vous sûr d'ajouter la sortie matière ? Aucune modification ne sera possible après.
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn round flat @click.native="dialogSureToAdd = false">Annuler</v-btn>
                    <v-btn round outline flat @click.native="addMaterial" :disabled="disabledAddButton">Ajouter</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- endregion -->

    </div>
</template>

<script>
    import ListTileField from "../../../components/ListTileField";
    export default {
        components: {ListTileField},
        data() {
            return {
                instruction:null,
                materialresource:null,
                kamion:null,
                models: {
                    quantity: null,
                },
                modify:false,
                allKamion:false,
                dialogSureToLeave:false,
                dialogSureToDelete:false,
                dialogSureToAdd:false,
            }
        },
        computed: {
            getInstructionSubtitle() {
                let result = '--';
                if (this.instruction !== null && this.instruction !== undefined) {
                    if (this.instruction.wana_number !== null) {
                        result = this.instruction.wana_number + ' - ' + this.instruction.label;
                    }
                    else {//for Break and Other Instruction
                        result = this.instruction.label;
                    }
                }
                return result;
            },
            getMaterialresourceSubtitle() {
                let result = '--';
                if (this.materialresource !== null && this.materialresource !== undefined) {
                    if (this.materialresource.wana_id !== null) {
                        result = this.materialresource.wana_id + ' - ' + this.materialresource.label;
                    }
                    else {
                        result = this.materialresource.label;
                    }
                }
                return result;
            }
        },
        methods: {
            /*Set field change in store*/
            validate(key, value) {
                this.models[key] = value;
                this.$store.dispatch('updateEditData', {key, value});
                this.validateFields();
            },
            /*Validate field to enable or not the button in footer*/
            validateFields() {
                let footerOptions = this.$store.state.footer.data.oneButton;

                if (this.models.quantity > 0 || this.$store.state.editData.data.instruction_id === null || this.$store.state.editData.data.kamion_id === null) {
                    footerOptions.disabled = false;
                }
                else {
                    footerOptions.disabled = true;
                }

                this.$store.dispatch('updateFooterData', {key: 'oneButton', value: footerOptions});
            },
            /*update image source to work properly*/
            getImageSource(image) {
                return image ? `${process.env.STORAGE}/` + image : '';
            },
            getDataFromApi() {
                this.$emit('loadingControl', true);
                this.axios.get(`${process.env.API}/instructions/${this.$store.state.editData.data.instruction_id }`).then(instruction => {
                    this.instruction = instruction.data.data;
                });
                this.axios.get(`${process.env.API}/kamions/${this.$store.state.editData.data.kamion_id }`).then(kamion => {
                    this.kamion = kamion.data.data;
                });

                this.axios.get(`${process.env.API}/materialresources/${this.$store.state.editData.data.materialresource_id }`).then(materialresource => {

                    this.materialresource = materialresource.data.data;

                    if (this.models.quantity == null) {
                        this.models.quantity = this.$store.state.editData.data.quantity;
                    }

                    this.validateFields();
                    this.$emit('loadingControl', false);
                }).catch(error => {
                    this.$emit('loadingControl', false);
                });

            },
            /*Add Material in the API*/
            addMaterial() {
                this.disabledAddButton = true;

                //data for wana
                let wana_data = {
                    IDKamion:this.$store.state.editData.data.kamion_wana_id,
                    IDInstruction:this.$store.state.editData.data.instruction_wana_number,
                    quantite:this.$store.state.editData.data.quantity,
                    IDCompagnon:this.$store.state.auth.user.wana_id,
                    bEstPret:true,
                    sIDArticle:this.$store.state.editData.data.materialresource_wana_id,
                };

                //data for api
                let api_data = {
                    quantity: this.$store.state.editData.data.quantity,
                    user_id: this.$store.state.auth.user.id,
                    kamion_id: this.$store.state.editData.data.kamion_id,
                    instruction_id: this.$store.state.editData.data.instruction_id,
                    material_resource_id: this.$store.state.editData.data.materialresource_id,
                    wana_id:null
                };

                //add material in wana
                this.axios.post(`${process.env.WANA}/sortieMatiere`, wana_data).then(wana_id => {
                    api_data.wana_id = wana_id;
                    //and then add in own api
                    this.axios.post(`${process.env.API}/materials`, api_data).then(response => {
                        this.$store.dispatch('setEditData', {
                            data: {}
                        });
                        this.$router.push({name: 'list-materials'});
                    });
                });
            },
            setHeader() {
                this.$store.dispatch('setHeaderData', {
                    data: {
                        title: this.modify ? 'Choix quantité et validation' : '4/4 : Choix quantité et validation',
                        search: null,
                        back: {
                            icon: 'close',
                            function: () => {
                                if (this.models.quantity !== null) {
                                    this.dialogSureToLeave = true;
                                }
                                else {
                                    this.$store.dispatch('updateEditData', {key: 'quantity', value: null});
                                    this.$store.dispatch('updateEditData', {key: 'change', value: false});
                                    this.$router.push({ name:'select-material-materialresource'});
                                }
                            }
                        },
                        option: null
                    }
                });
            },
            /*Exit with clean data*/
            sureToLeave() {
                if (this.modify) {
                    this.$store.dispatch('setEditData', {
                        data: {}
                    });
                    this.$router.push({name:'list-materials'});
                }
                else {
                    this.$store.dispatch('updateEditData', {key: 'quantity', value: null});
                    this.$store.dispatch('updateEditData', {key: 'change', value: false});
                    this.$router.push({name:'select-material-materialresource'});
                }
            },
            /*Delete entry*/
            sureToDelete() {
                this.axios.delete(`${process.env.API}/logtimes/${this.$store.state.editData.data.id}`).then(() => {
                    this.$store.dispatch('setEditData', {
                        data: {}
                    });
                    this.$router.push({name:'list-logtimes'});
                });
            },
        },
        mounted() {
            this.allKamion = !this.$store.state.single.data.id;
            this.modify = this.$store.state.editData.data.mode === 'modify';

            this.getDataFromApi();
            this.setHeader();

            //set footer
            this.$store.dispatch('setFooterData', {
                data: {
                    display:true,
                    oneButton: {
                        text : this.modify ? 'Modifier' : 'Ajouter',
                        function: () => {
                            if (this.modify) {

                            }
                            else {
                                this.dialogSureToAdd = true;
                            }
                        },
                        disabled:true
                    }
                }
            });
        }
    }
</script>

<style scoped>
    .list.data {
        padding-bottom: 4rem;
    }

    .list.data >>> .list__tile__title {
        font-weight: 500;
    }

</style>