<template lang="html">
    <div>
        <v-list>
            <template v-for="message in messages">
                <div v-if="!message.isDivider">
                    <v-layout class="messages-list-tile">
                        <v-avatar v-if="displayAvatar(message)">
                            <img :src="getAvatar(message)"/>
                        </v-avatar>
                        <v-avatar v-else>
                            <img src="" alt=""/>
                        </v-avatar>
                        <div :class="{'own-message':isOwnMessage(message),'message':true}">{{ message.content }}</div>
                    </v-layout>
                </div>
                <div class="debate-divider" v-else>
                    <v-divider></v-divider>
                    <i>{{formatDate(message.date)}}</i>
                    <v-divider></v-divider>
                </div>
            </template>
        </v-list>
        <div class="message-footer">
            <img src="../../../assets/img/fichier_attache.svg"/>
            <v-text-field multi-line rows="1" name="input-1" label="Saisir le message"  v-model="newMessage"></v-text-field>
            <img src="../../../assets/img/envoyer.svg" @click="sendMessage()"/>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            messages :[],
            newMessage :''
        }
    },
    methods: {
        displayAvatar(message){
            return !(Number(message.user_id) === Number(this.$store.state.auth.user.id))
        },
        sendMessage(){
            this.axios.post(`${process.env.API}/messages`,{
                    user_id : this.$store.state.auth.user.id,
                    content : this.newMessage,
                    discussion_id : this.$route.params.id
                }).then(response => {
                    this.newMessage ='';
                    this.getDataFromApi();
                });
        },
        formatDate (mesageDate){
            let date = new Date(mesageDate),
                res='';
            switch (date.getDay()){
                case 0:
                    res= 'dimanche';
                    break;
                case 1:
                    res= 'lundi';
                    break;
                case 2:
                    res= 'mardi';
                    break;
                case 3:
                    res= 'mercredi';
                    break;
                case 4:
                    res= 'jeudi';
                    break;
                case 5:
                    res= 'vendredi';
                    break;
                case 6:
                    res= 'samedi';
                    break;
            }
            res += ' ' + date.getDate() + ' ';
            switch (date.getMonth()){
                case 0:
                    res+= 'Janvier';
                    break;
                case 1:
                    res+= 'Février';
                    break;
                case 2:
                    res+= 'Mars';
                    break;
                case 3:
                    res+= 'Avril';
                    break;
                case 4:
                    res+= 'Mai';
                    break;
                case 5:
                    res+= 'Juin';
                    break;
                case 6:
                    res+= 'Juillet';
                    break;
                case 7:
                    res+= 'Août';
                    break;
                case 8:
                    res+= 'Septembre';
                    break;
                case 9:
                    res+= 'Octobre';
                    break;
                case 10:
                    res+= 'Novembre';
                    break;
                case 11:
                    res += 'Décembre';
                    break;
            }

            return res + ' ' + date.getFullYear();
        },
        isOwnMessage(message){
            return message.user.id === Number(this.$store.state.auth.user.id);
        },
        getAvatar(message){
            if (message.user.avatar !== null){
                return `${process.env.STORAGE}/` + message.user.avatar ;
            } else {
                return `${process.env.STORAGE}/demo.jpg`  ;
            }
        },
        getDataFromApi() {
            this.axios.get(`${process.env.API}/discussions/${this.$route.params.id}`)
                .then(response => {
                    this.$store.dispatch('setHeaderData',{
                        data :{
                            title:response.data.data.content,
                            search:null,
                            option:{
                                icon:require('../../../assets/img/return.svg'),
                                function:()=>{
                                    this.$router.push({ name: 'single-elements-debates', params: {id: response.data.data.element_id }})
                                }
                            },
                        }
                    });
                });

            this.axios.get(`${process.env.API}/messages?filters=discussion_id|=|${this.$route.params.id}&embed=user&order=created_at|ASC`)
                .then(response => {
                    this.messages =[];

                    let messages = response.data.data,
                        currentDate= null,
                        nextDate= null;
                    if ( messages.length > 0){
                        this.messages.push({
                            isDivider:true,
                            date:messages[0].created_at
                        });
                        for (var i =0 ; i <  messages.length -1; i++){
                            currentDate=new Date(messages[i].created_at);
                            nextDate=new Date(messages[i +1].created_at);
                            messages[i].isDivider= false;
                            this.messages.push(messages[i]);
                            if (currentDate.getFullYear() !== nextDate.getFullYear() ||
                                currentDate.getMonth() !== nextDate.getMonth() ||
                                currentDate.getDate() !== nextDate.getDate()) {
                                this.messages.push({
                                    isDivider : true,
                                    date:messages[i+1].created_at
                                });
                            }
                        }
                        this.messages.push(messages[i]);
                    }
                });
        }
    },
    mounted() {
        this.getDataFromApi();

    }
}
</script>

<style lang="stylus" scoped>
@require '../../../assets/css/variables'

.messages-list-tile {
    padding: 1rem 0 1rem 0
    display:flex
    div {
        margin:5px
    }
    .own-message {
        background-color: #F2F5FA !important
        color:#7E8D92 ! important
        border-width: 1px !important
        border-color: #eeeeee !important
    }
    .message {
        background-color:#FDFDFD
        // border-color:#9E9E9E
        color:#9E9E9E
        border-style: solid
        border-width: 1px !important
        border-color: #eeeeee !important
        border-radius:9px
        padding: 4px
        display:flex;
        width : 80%
    }
}
.debate-divider {
    hr {
        margin-top:8px
    }
    i {
        color:#9E9E9E
        padding-left: 10px
        padding-right: 10px
    }
    display: flex
}
.message-footer {
    z-index: 1
    height: $app-bottom-height
    width: 100 vw
    background-color: white
    position: fixed
    bottom:0
    display: flex
    align-items: center
    img {
        height: 35px
        padding: 5px
    }
}

</style>
