<template lang="html">

        <v-list two-line>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Pilote</v-list-tile-title>
                    <v-list-tile-sub-title>{{getPilot(this.kamion)}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile v-if="this.kamion.model">
                <v-list-tile-content>
                    <v-list-tile-title>Modèles</v-list-tile-title>
                    <v-list-tile-sub-title>{{this.kamion.model}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Client</v-list-tile-title>
                    <v-list-tile-sub-title>{{this.kamion.client}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Date de commande</v-list-tile-title>
                    <v-list-tile-sub-title>{{this.kamion.ordered_at}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Pays de livraison</v-list-tile-title>
                    <v-list-tile-sub-title>{{this.kamion.destination}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Description</v-list-tile-title>
                    <v-list-tile-sub-title>
                        {{this.kamion.description}}
                    </v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>

</template>

<script>
export default {
    data() {
        return {
        }
    },
    computed: {
        kamion() {return this.$store.state.single.data;}
    },
    created(){
    },
    methods: {
        getPilot(kamion) {
            if( kamion && !! kamion.users ) {
                let pilot = this.kamion.users.find(function(element) {
                    return element.pivot.is_pilot === 1;
                });
                return pilot ? pilot.first_name + ' ' + pilot.last_name : 'Non';
            }
            else return '';
        }
    }
}
</script>

<style lang="stylus" scoped>

</style>
