<template lang="html">
    <div v-if="kamion">
        <img
        :src="imageSource"
        alt="single Kamion Image"
        class="kamion-image"
        />
        <div>
            <v-list two-line>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>{{this.kamion.name}}</v-list-tile-title>
                        <v-list-tile-sub-title>{{this.kamion.wana_id}} {{kamionManager ? kamionManager.first_name + ' ' + kamionManager.last_name : ''}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-list two-line subheader>
                <v-divider></v-divider>
                <v-subheader>Informations générales</v-subheader>
                <v-list-tile v-if="projectManager">
                    <v-list-tile-content>
                        <v-list-tile-title>Chef de projet</v-list-tile-title>
                        <v-list-tile-sub-title>{{projectManager.first_name + ' ' + projectManager.last_name}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Coeff MP</v-list-tile-title>
                        <v-list-tile-sub-title>{{this.kamion.coeff_mp}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Longueur</v-list-tile-title>
                        <v-list-tile-sub-title>{{this.kamion.length}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Taux horaire</v-list-tile-title>
                        <v-list-tile-sub-title>{{this.kamion.hourly_rate}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Nombre</v-list-tile-title>
                        <v-list-tile-sub-title>{{this.kamion.amount}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>Heures réalisées</v-list-tile-title>
                        <v-list-tile-sub-title>{{this.kamion.worked_time}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    created(){
    },
    computed: {
        projectManager() {
            if (this.kamion.users !== undefined) {
                return this.kamion.users.find(function(element) {
                    return element.pivot.is_project_manager === 1;
                });
            }
            return null;
        },
        kamionManager() {
            if (this.kamion.users !== undefined) {
                for (let i = 0; i < this.kamion.users.length; i++) {
                    if (this.kamion.users[i].pivot.is_kamion_manager) {
                        return this.kamion.users[i];
                    }
                }
            }
            return null;
        },
        kamion() {
            return this.$store.state.single.data;
        },
        imageSource() {
            let url = `${process.env.STORAGE}/` + this.kamion.image;
            return this.kamion.image ? url :'';
        }
    }
}
</script>

<style lang="stylus" scoped>
    .kamion-image {
        display: block
        width: 100%
        padding 1.6rem
        object-fit cover
    }
</style>
