<template lang="html">
    <v-list v-if="instructions" three-line>
        <template v-for="(instruction, index) in instructions">
            <v-list-tile :key="index">
                <v-list-tile-content>
                   <v-list-tile-title>N°Inst. {{instruction.wana_number}} <span v-if="instruction.job"> &mdash; {{instruction.job.label}}</span></v-list-tile-title>
                    <v-list-tile-sub-title>
                        {{instruction.label}}
                    </v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
        </template>
    </v-list>


</template>

<script>
export default {
    data() {
        return {

        }
    },
    computed: {
        instructions() {
            function compare(a, b) {
                if (a.job.label < b.job.label)
                    return -1;
                if (a.job.label > b.job.label)
                    return 1;
                return 0;
            }
            return this.$store.state.single.data.instructions.sort(compare);
        }
    },
}
</script>

<style lang="stylus" scoped>

</style>
