<template lang="html">
    <div class="single-kamion"
         v-touch="{
                left: () => onSwipe('left'),
                right: () => onSwipe('right')
            }">
        <v-tabs dark grow slider-color="white" class="single-tabs" v-model="tabs">

                <v-tab class="tab-title" ripple :to="{ name: 'single-kamion-informations' }" >Informations</v-tab>
                <v-tab class="tab-title" ripple :to="{ name: 'single-kamion-complementary-informations' }">Informations <br/>complémentaires</v-tab>
                <v-tab class="tab-title" ripple :to="{ name: 'single-kamion-instructions' }" >Instructions</v-tab>

        </v-tabs>
        <div class="router_view">
            <router-view />
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            kamion:null,
            tabs:null
        }
    },
    methods : {
        getDataFromApi() {
            this.$emit('loadingControl', true);
            this.$store.dispatch('setSingleData', { data: {} });
            this.axios.get(`${process.env.API}/kamions/${this.$route.params.id}?embed=users,instructions.job`).then(response => {
                this.kamion = response.data.data;
                if (this.$store.state.auth.mfiles !== null) {
                    this.kamion.mfiles = {};

                    this.axios.get(`${process.env.MFILES}/objects?p1047=${this.kamion.wana_id}`).then(response => {
                        this.kamion.mfiles.id = response.data.Items[0].ObjVer.ID;
                        this.kamion.mfiles.name = response.data.Items[0].DisplayID;

                        this.axios.get(`${process.env.MFILES}/objects/106/${this.kamion.mfiles.id}/latest/properties/39`).then(response => {
                            this.kamion.mfiles.phase = response.data.Value.DisplayValue;
                            this.$store.dispatch('setSingleData', { data: this.kamion });
                            this.$emit('loadingControl', false);
                        }).catch(error => {
                            this.$store.dispatch('setSingleData', { data: this.kamion });
                            this.$emit('loadingControl', false);
                        });

                    }).catch(error => {
                        this.$store.dispatch('setSingleData', { data: this.kamion });
                        this.$emit('loadingControl', false);
                    });
                }
                else {
                    this.$store.dispatch('setSingleData', { data: this.kamion });
                    this.$emit('loadingControl', false);
                }
            }).catch(error => {
                this.$emit('loadingControl', false);
            });

        },
        onSwipe(direction) {

            if (direction === 'left') {
                if (this.tabs.indexOf('informations-complementaires') > 0) {
                    this.$router.push({name: 'single-kamion-instructions'});
                }
                else if (this.tabs.indexOf('informations') > 0) {
                    this.$router.push({name: 'single-kamion-complementary-informations'});
                }
            }
            else {
                if (this.tabs.indexOf('informations-complementaires') > 0) {
                    this.$router.push({name: 'single-kamion-informations'});
                }
                else if (this.tabs.indexOf('instructions') > 0) {
                    this.$router.push({name: 'single-kamion-complementary-informations'});
                }
            }
        }
    },
    mounted(){
        this.getDataFromApi();

        this.$store.dispatch('setHeaderData',{
            data :{
                title:  'Kamion actif',
                search: null,
                option: null,
            }
        });
        this.$store.dispatch('setFooterData', {
            data: {
                display:true
            }
        });
    }
}
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/main'
    div.single-kamion {
        min-height: 'calc(100vh - (%s * 2))' % $app-bottom-height

        .single-tabs {
            background-color: $app-tabs-bg-color
            box-shadow: 0 1px 12px 0 $app-tabs-bg-color
            font-size: 1.1rem
            .tab-title{
                color:white !important
            }
        }
    }
</style>
