<template>
    <div
            v-touch="{
                left: () => onSwipe('left'),
                right: () => onSwipe('right')
            }"
            class="logtimes-list">
        <v-tabs dark grow  class="single-tabs" slider-color="white" v-model="tabs">
            <v-tab @click="getDataFromApi('aujourdhui')" class="tab-title" ripple href="#aujourdhui" >Aujourd'hui</v-tab>
            <v-tab @click="getDataFromApi('en-attente')" class="tab-title" ripple href="#en-attente">En attente</v-tab>
            <v-tab @click="getDataFromApi('validees')" class="tab-title" ripple href="#validees">Validées</v-tab>
        </v-tabs>

        <v-list class="fixed-today-time" v-if="tabs === 'aujourdhui'">
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>
                        Total Journée
                    </v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action :class="todayTime === durationTimeToday ? 'green--text' : 'red--text'">
                    {{formatMin(todayTime)}} / {{formatMin(durationTimeToday)}}
                </v-list-tile-action>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile disabled>
                <v-list-tile-content>
                    <v-list-tile-title>
                        Pause
                    </v-list-tile-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    {{formatMin(breakTime)}}
                </v-list-tile-action>
            </v-list-tile>
            <v-divider></v-divider>
        </v-list>

        <v-list two-line class="the-list" :subheader="tabs === 'aujourdhui'">
            <template v-for="(logtime, index) in logtimes">
                <v-list-tile :key="index" ripple @click="goToLogtime(logtime)">
                    <v-list-tile-content>
                        <v-list-tile-title v-if="logtime.instruction"> {{ logtime.instruction.wana_number }} — {{logtime.instruction.label}}</v-list-tile-title>
                        <v-list-tile-title v-else>SANS INSTRUCTION</v-list-tile-title>
                        <v-list-tile-sub-title v-if="logtime.kamion">
                            {{logtime.kamion.wana_number}} — {{logtime.kamion.name}}
                            <template v-if="tabs !== 'aujourdhui' && logtime.timecard !== null">
                                <br/>{{moment(logtime.timecard.date).format('DD MMMM YYYY')}}
                            </template>
                        </v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        {{formatMin(logtime.length)}}
                    </v-list-tile-action>
                </v-list-tile>
                <v-divider></v-divider>
            </template>
        </v-list>

        <v-fab-transition>
            <v-btn
                    dark
                    fixed
                    fab
                    bottom
                    right
                    class="float-add-button"
                    @click="addLogtime"
            >
                <img :src="require('../../../assets/img/ajout_temps.svg')"/>
            </v-btn>
        </v-fab-transition>

    </div>
</template>

<script>
    import moment from 'moment'
    moment.locale('fr');

    export default {
        data() {
            return {
                logtimes:[],
                dialogPutTime: false,
                allKamion:false,
                moment,
                tabs:'aujourdhui',
                todayTime:0
            }
        },
        computed: {
            durationTimeToday() {
                let durationTimeToday;

                if (this.$store.state.durations.data.specialDuration === null) {
                    durationTimeToday = this.$store.state.durations.data.todayDuration.value;
                }
                else {
                    durationTimeToday = this.$store.state.durations.data.specialDuration.duration;
                }

                return durationTimeToday;
            },
            breakTime() {
                return this.$store.state.durations.data.breakTime.value;
            }
        },
        methods: {
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min/60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
            /** Get Data From API
             * @param {string} filter : 'aujourdhui', 'en-attente', 'validees'
             * */
            getDataFromApi(filter) {
                this.$emit('loadingControl', true);
                this.todayTime = 0;
                let api_filter = '&filters=status_logtime_id|=|1';//id 1 aujourd'hui

                if (filter === 'en-attente') {//id 2-3-5
                    api_filter = '&filters=status_logtime_id|>=|2,status_logtime_id|<=|6';//id 1 aujourd'hui
                }
                else if (filter === 'validees') {//id 6 validées
                    api_filter = '&filters=status_logtime_id|=|7';
                }

                if (!this.allKamion && filter !== 'aujourdhui') {
                    api_filter += `,kamion_id|=|${this.$store.state.single.data.id}`;
                }

                api_filter += `,user_id|=|${this.$store.state.auth.user.id}`;

                this.axios.get(`${process.env.API}/logtimes?embed=histories,kamion,timecard,instruction${api_filter}&order=updated_at|desc`).then(response => {
                    this.logtimes = response.data.data;

                    //set the total today time
                    if (this.tabs === 'aujourdhui') {
                        this.logtimes.forEach(logtime => {
                            this.todayTime += logtime.length;
                        });
                        this.todayTime += this.breakTime;
                    }

                    this.$emit('loadingControl', false);
                }).catch(error => {
                    this.$emit('loadingControl', false);
                });
            },
            /* Prepare edit store for create logtime and go to select-logtime-kamion */
            addLogtime() {
                this.$store.dispatch('setEditData', {
                    data: {
                        mode:           'add',
                        kamion_id:      null,
                        instruction_id: null,
                        length:         0,
                        remark:         '',
                        change:         false
                    }
                });
                this.$router.push({name : "select-logtime-kamion"});
            },
            /** Prepare edit store for edit logtime and go to select-logtime-informations
             * @param {Object} logtime
             * */
            modifyLogtime(logtime) {
                this.$store.dispatch('setEditData', {
                    data: {
                        mode:'modify',
                        kamion_id: logtime.kamion_id,
                        instruction_id : logtime.instruction_id,
                        id : logtime.id,
                        length: logtime.length,
                        remark: logtime.remark === null ? '' : logtime.remark,
                        change: false
                    }
                });
                this.$router.push({name : "select-logtime-informations"});
            },
            /*Redirect the user to modify or see the selected logtime*/
            goToLogtime(logtime) {
                if (logtime.status_logtime_id == 1) {
                    this.modifyLogtime(logtime);
                }
                else {
                    this.$router.push({ name:'single-logtimes', params: { status:this.tabs, id: logtime.id }});
                }
            },
            /*Swipe controller for tab*/
            onSwipe(direction) {
                if (direction === 'left') {
                    if (this.tabs === 'aujourdhui') {
                        this.tabs = 'en-attente';
                        this.getDataFromApi(this.tabs);
                    }
                    else if (this.tabs === 'en-attente') {
                        this.tabs = 'validees';
                        this.getDataFromApi(this.tabs);
                    }
                }
                else {
                    if (this.tabs === 'en-attente') {
                        this.tabs = 'aujourdhui';
                        this.getDataFromApi(this.tabs);
                    }
                    else if (this.tabs === 'validees') {
                        this.tabs = 'en-attente';
                        this.getDataFromApi(this.tabs);
                    }
                }
            }
        },
        mounted() {
            this.allKamion = !this.$store.state.single.data.id;
            if (this.$route.params.status !== undefined) {
                this.tabs = this.$route.params.status;
                this.getDataFromApi(this.tabs);
            }
            else {
                this.getDataFromApi('aujourdhui');
            }

            //set footer
            this.$store.dispatch('setFooterData', {
                data: {
                    display:true
                }
            });

            //set header
            this.$store.dispatch('setHeaderData',{
                data :{
                    title: 'Mes heures',
                    search:null,
                    option:null,
                    back:false
                }
            });
        }

    }
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/variables.styl'
    div.logtimes-list {
        min-height: $app-content-height

        button.float-add-button {
            bottom: 'calc( %s + 2rem)' % $app-bottom-height !important
            background-color: $secondary-dark-color!important
        }
    }

    div.list.fixed-today-time {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 2;
        padding-bottom: 0;
        & div.list__tile__title {
            text-transform: uppercase;
            font-weight: 700;
        }
        & div.list__tile__action {
            font-weight: 700;
        }
    }

    div.list.the-list {
        padding-bottom: 'calc( %s + 4rem)' % $app-bottom-height !important
    }
</style>