<template>
	<div>
		<v-list v-if="haveFolders" two-line class="the-list" subheader>
			<template v-if="$store.state.auth.permissions.indexOf(seealldocphase) !== -1 && histories.length == 0">
				<v-expansion-panel>
					<v-expansion-panel-content
							v-for="(p, index) in allphase"
							:key="index"
							:name="index"
							v-if=" index <= allphase.indexOf(parseInt($store.state.single.data.stage_id))">
						<div slot="header">0{{p}}</div>
						<template v-for="(folder, index) in folders" v-if="folder[1].ownerId == p">
							<v-list-tile :key="index" avatar @click="goToFolder(folder)">
								<v-list-tile-avatar>
									<v-icon>folder</v-icon>
								</v-list-tile-avatar>
								<v-list-tile-content>
									<v-list-tile-title>{{ folder[1].name }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-divider></v-divider>
						</template>
					</v-expansion-panel-content>
				</v-expansion-panel>
			</template>
			<template v-else>
				<template v-for="(folder, index) in folders" v-if="folder[1].ownerId == histories[0].id">
					<v-list-tile :key="index" avatar @click="goToFolder(folder)">
						<v-list-tile-avatar>
							<v-icon>folder</v-icon>
						</v-list-tile-avatar>
						<v-list-tile-content>
							<v-list-tile-title>{{ folder[1].name }}</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
					<v-divider></v-divider>
				</template>
			</template>
		</v-list>
		<list-documents v-else @loadingControl="loadingControl($event)" :documents="documents"></list-documents>
	</div>
</template>

<script>
	import ListDocuments from "./ListDocuments";
	export default {
		name: "ListFolder",
		components: {ListDocuments},
		props: {
			selected: {
				type: Number,
				default: 0,
				required: false
			},
		},
		data() {
			return {
				seealldocphase:null,
				allphase		:[0, 1, 2, 3, 4, 100, 11],
				histories: [],
				haveFolders: true,
				documents:[],
				mfilesItems:new Map()
			}
		},
		computed: {
			/*transform map to array to be displayed by v-for*/
			folders() {
				if (this.histories.length === 0) {
					return Array.from(this.mfilesItems);
				}

				let folders = this.mfilesItems;
				this.histories.forEach(history => {
					folders = folders.get(history.id).subpaths;
				});
				return Array.from(folders);
			},
			kamion : function (){
				return this.$store.state.single.data;
			},
			/*Get the project phase*/
			nbPhase() {
				return this.kamion && this.kamion.mfiles && this.kamion.mfiles.phase ? parseInt(this.kamion.mfiles.phase.match(/[0-9][0-9]/)) : 0;
			}
		},
		methods: {
			/**
			 * Go to the folder pass in parameter
			 * @param {Object} folder
			 */
			goToFolder(folder) {

				//add the folder to the history path
				this.histories.push({
					id :    folder[1].id,
					name :  folder[1].name
				});
				if (folder[1].subpaths === undefined) {
					this.haveFolders = false;
					this.$router.push({
						name:'list-documents',
						params:{
							tab:'dossiers',
							folder:this.histories[0].id,
							subFolder:this.histories[1].id
						}
					});

					//set the directory & subdirectory id
					this.$store.dispatch('updateEditData', {key: 'directory', value: this.histories[0].id});
					this.$store.dispatch('updateEditData', {key: 'subDirectory', value: this.histories[1].id});

					//set the directory & subdirectory name
					this.$store.dispatch('updateEditData', {key: 'directoryName', value: this.histories[0].name});
					this.$store.dispatch('updateEditData', {key: 'subDirectoryName', value: this.histories[1].name});

					//get files in mfiles
					this.getDataFromApi();
				}
				else {
					this.$router.push({
						name:'list-documents',
						params:{
							tab:'dossiers',
							folder:this.histories[0].id
						}
					});
					this.$store.dispatch('updateEditData', {key: 'directory', value: 0});
					this.$store.dispatch('updateEditData', {key: 'subDirectory', value: 0});
					this.$store.dispatch('updateEditData', {key: 'directoryName', value: ''});
					this.$store.dispatch('updateEditData', {key: 'subDirectoryName', value: ''});
				}

				if (this.histories.length === 1) {
					this.$emit('hideTabs', true);
				}
				//update the header
				this.setHeader(folder[1].name);
			},
			setHeader(name) {
				this.$store.dispatch('setHeaderData', {
					data: {
						title: name,
						search: null,
						option: null,
						back: {
							icon: 'arrow_back',
							function: () => {
								this.histories.pop();
								this.haveFolders = true;

								//set folder page to default
								if (this.histories.length === 0) {
									this.$emit('hideTabs', false);
									this.$store.dispatch('setHeaderData', {
										data: {
											title: 'Documents',
											search: null,
											option: null,
											back: false
										}
									});
									this.$router.push({
										name:'list-documents',
										params:{
											tab:'dossiers'
										}
									});
								}
								else {
									//set the name of the title header
									this.setHeader(this.histories[this.histories.length - 1].name);

									//push the good rooter
									if (this.histories.length === 1) {
										this.$router.push({
											name:'list-documents',
											params:{
												tab : 'dossiers',
												folder : this.histories[0].id
											}
										});
									}
									else {
										this.$router.push({
											name:'list-documents',
											params:{
												tab : 'dossiers',
												folder : this.histories[0].id,
												subFolder : this.histories[1].id
											}
										});
									}
								}
							}
						},
					}
				});
			},
      //
      //mfile_created_at : dateFormat(files[keys[index]].CreatedUtc, 'yyyy-mm-dd hh:MM:ss'),
     // mfile_updated_at : dateFormat(files[keys[index]].CreatedUtc, 'yyyy-mm-dd hh:MM:ss'),
      getDataFile(keys, files, index){
        this.axios.get(`${process.env.API}/documents?id=${this.$store.state.auth.user.id}&embed=author&filters=mfile_id|=|${files[keys[index]].Files[0].ID}&order=updated_at|desc`).then(resp => {
          if (resp.data.data.length === 0){
            this.documents.push({
              name: files[keys[index]].Files[0].Name,
              extension: files[keys[index]].Files[0].Extension,
              author: '',
              id: files[keys[index]].Files[0].ID,
              editable : false,
              objectId: files[keys[index]].ObjVer.ID,
              created_at: files[keys[index]].CreatedUtc,
              updated_at: '',
              last_access: files[keys[index]].AccessedByMeUtc,
              guid: files[keys[index]].ObjectGUID.replace('{', '').replace('}', ''),
            });
            this.axios.post(`${process.env.API}/documents`,{
              title : files[keys[index]].Files[0].Name,
              extension  : files[keys[index]].Files[0].Extension,
              mfile_id : files[keys[index]].Files[0].ID+"",
              mfile_object_id : files[keys[index]].ObjVer.ID+"",
              guid : files[keys[index]].ObjectGUID.replace('{', '').replace('}', ''),
              mfile_created_at: "1992-10-28 10:10:10",
              mfile_updated_at: "1992-10-28 10:10:10",
              kamions	: [this.$store.state.single.data.id]
            });
          } else {
            let tmp = '';
            if (resp.data.data[0].author != null){
              tmp = resp.data.data[0].author.last_name + ' ' + resp.data.data[0].author.first_name;
            }

            let tmp2 = '';
            if (resp.data.data[0].last_documents.length != 0){
              tmp2 = resp.data.data[0].last_documents[0].pivot.updated_at;
            }

            this.documents.push({
              name: files[keys[index]].Files[0].Name,
              extension: files[keys[index]].Files[0].Extension,
              author: tmp,
              api_id: resp.data.data[0].id,
              id: files[keys[index]].Files[0].ID,
              objectId: files[keys[index]].ObjVer.ID,
              created_at: files[keys[index]].CreatedUtc,
              updated_at: tmp2,
              last_access: files[keys[index]].AccessedByMeUtc,
              guid: files[keys[index]].ObjectGUID.replace('{', '').replace('}', ''),
            });
          }
          this.getDataFile(keys, files, index *1 + 1)
        });
      },
			/* Get files in Mfiles*/
			getDataFromApi() {
				let extraParams = '';
				this.documents = [];
				let str = "";
				this.$emit('loadingControl', true);

				const documentId = this.histories[0].id;
				const subDocumentId = this.histories[1].id;

				if (this.$store.state.single.mfiles !== undefined){
					extraParams = '&';
				}else{
					extraParams = '?';
				}
				extraParams += `vl101=${documentId}`;

				if (subDocumentId) {
					if (extraParams !== '' || this.$store.state.single.mfiles !== undefined){
						extraParams += '&';
					}else{
						extraParams += '?';
					}
					extraParams += `vl102=${subDocumentId}`;
				}

				if (this.$store.state.single.mfiles !== undefined){
					str = `${process.env.MFILES}/objects/0?vl106=${this.$store.state.single.mfiles.id}`;
				} else {
					str = `${process.env.MFILES}/objects/0`;
				}

				//get files in the folder
        var keys = []
				this.axios.get(`${str}${extraParams}`).then(response => {
					this.$emit('loadingControl', false);
					const files = response.data.Items;
					for (let index in files) {
					  keys.push(index)
          }
          this.getDataFile(keys, files, 0)

        }).catch(err => {
          this.$emit('loadingControl', false);
        });
			},
			/*Get Mfiles Folder*/
			getMfilesItems() {
				this.$emit('loadingControl', true);
				this.mfilesItems = new Map();
				this.axios.get(`${process.env.MFILES}/valuelists/101/items`).then((response) => {
					const mfilesItemsResponse = response.data.Items.map((item) => {
						return {
							id: item.ID,
							name: item.Name,
							ownerId: item.OwnerID
						};
					});
					return Promise.all([mfilesItemsResponse, this.axios.get(`${process.env.MFILES}/valuelists/102/items`)]);
				}).then(([mfilesItemsResponse, response]) => {

					const tree = new Map();

					mfilesItemsResponse.forEach((parent) => {
						parent.subpaths = new Map();
						tree.set(parent.id, parent);
					});

					const mfilesSubItemsResponse = response.data.Items;

					mfilesSubItemsResponse.map((item) => {
						return {
							id: item.ID,
							name: item.Name,
							ownerId: item.OwnerID
						};
					}).forEach((child) => {
						let parent = tree.get(child.ownerId);
						if (parent) {
							parent.subpaths.set(child.id, child);
						}
					});

					this.mfilesItems = tree;

					//set good folder path if router have params
					if (this.$route.params.folder !== 0) {
						let routeParams = this.$route.params;
						let folder = tree.get(routeParams.folder);
						this.goToFolder( [folder.id, folder]);

						if (routeParams.subFolder !== 0) {
							let subFolder = folder.subpaths.get(routeParams.subFolder);
							this.goToFolder( [subFolder.id,subFolder]);
						}
					}
					this.$emit('loadingControl', false);
				}).catch(e => {
					this.$emit('loadingControl', false);
				});
			},
			loadingControl(e) {
				this.$emit('loadingControl', e);
			}
		},
		mounted() {

			this.$http.get(`${process.env.API}/permissions/seealldocphase`).then(rep => {
				this.seealldocphase = Number(rep.data);
			})
			this.getMfilesItems();
		}

	}
</script>
