<template>
	<div>
		<v-list two-line class="the-list" subheader>
				<template v-for="(document, index) in documents" v-if="validType(document.extension)">
					<v-list-tile :key="index" avatar @click="openDocument(document)">
						<v-list-tile-avatar>
							<v-icon>{{getFileIcon(document.extension)}}</v-icon>
						</v-list-tile-avatar>
						<v-list-tile-content>
							<v-list-tile-title>{{ document.name }}.{{document.extension}}</v-list-tile-title>
							<v-list-tile-sub-title>{{document.author}}</v-list-tile-sub-title>
						</v-list-tile-content>
					</v-list-tile>
					<v-divider></v-divider>
				</template>
		</v-list>
	</div>
</template>

<script>
	import moment from "moment"
	export default {
		name: "ListDocuments",
		props: {
			documents: {
				type: Array,
				default: () => []
			},
		},
		data() {
			return {
				moment
			}
		},
		methods: {
			/** Check if passed type is valid
			 * @param {string} type
			 * @return {boolean} validType
			 */
			validType(type) {
				return (type === 'png' || type === 'jpg' || type === 'gif' || type === 'pdf');
			},
			/** return the icon linked to the extension
			 * @param {string} type
			 * @return {string} icon slug
			 */
			getFileIcon(type) {
				if (type === 'png' || type === 'jpg' || type === 'gif') {
					return 'mdi-file-image';
				}
				else if (type === 'pdf') {
					return 'mdi-file-pdf';
				}
				return 'mdi-file';
			},
			/**
			 * Remove special characters to a string
			 * @param {string} originalString
			 * @return {string} parsedString
			 */
			parseFilename(originalString) {
				let parsed = originalString.substring(0, 100);
				let specialChars = {
					a: /[\xE0-\xE6]/g,
					A: /[\xC0-\xC6]/g,
					e: /[\xE8-\xEB]/g,
					E: /[\xC8-\xCB]/g,
					i: /[\xEC-\xEF]/g,
					I: /[\xCC-\xCF]/g,
					o: /[\xF2-\xF6]/g,
					O: /[\xD2-\xD6]/g,
					u: /[\xF9-\xFC]/g,
					U: /[\xD9-\xDC]/g,
					c: /\xE7/g,
					C: /\xC7/g,
					n: /\xF1/g,
					N: /\xD1/g,
					_: /[^A-Za-z0-9.]/g
				};

				for (let char in specialChars) {
					let regEx = specialChars[char];
					parsed = parsed.replace(regEx, char);
				}

				return parsed;
			},
			/** Download and open a document with file transfer and file opener2 plugins
			 * @param {Object} document
			 **/
			openDocument(document) {
				if (!!window.cordova) {
					this.$emit('loadingControl', true);

					let fileName = this.parseFilename(document.name) + '.' + document.extension;
					let url = `${process.env.MFILES}/objects/0/${document.objectId}/latest/files/${document.id}/content?auth=${this.$store.state.auth.mfiles}`;

					let pathToFile =  cordova.file.dataDirectory + fileName;
					let fileTransfer = new FileTransfer();
					this.deleteDocuments();
					fileTransfer.download(
						url,
						pathToFile,
						(entry) => {
							this.documentOpening(document).then(register => {
								this.$emit('loadingControl', false);
								entry.file(function(data) {
									cordova.plugins.fileOpener2.open(entry.toURL(), data.type);
								});
							});
						},
						(error) => {
							this.$emit('loadingControl', false);
						},
						false,
						{}
					);
				}

			},
			/**
			 * Register the document opened action in the api
			 * @param document
			 * @return {Promise<any>}
			 */
			documentOpening(document) {
				return new Promise(resolve => {
					let selectedDocument = this.documents.findIndex((item) => item.id === document.id);
					let extension = this.documents[selectedDocument].extension.toLowerCase();

					this.axios.get(`${process.env.API}/documents?filters=mfile_id|=|${document.id}`).then(res => {
						if (res.data.data.length === 0) {
							this.axios.get(`${process.env.API}/extensions?filters=label|=|${document.extension}`).then(rep => {
								if (rep.data.data.length === 0) {
									this.axios.post(`${process.env.API}/groupes`, {
										label: extension
									}).then(resp => {
										this.axios.post(`${process.env.API}/extensions`, {
											label: extension,
											groupe_id: resp.data.groupe.id
										}).then(respo => {
										})
									})
								}
							});

							this.axios.post(`${process.env.API}/documents`, {
								title: document.name,
								extension: document.extension,
								mfile_id: document.id,
								mfile_object_id: document.objectId,
								mfile_created_at: moment(document.created_at).format('YYYY-MM-DD hh:mm:ss'),
								mfile_updated_at: moment(document.updated_at).format('YYYY-MM-DD hh:mm:ss'),
								guid: document.guid,
								kamions: [this.$store.state.single.data.id],
							}).then(rep => {
								this.axios.get(`${process.env.API}/last_documents?filters=user_id|=|${this.$store.state.auth.user.id},document_id|=|${rep.data.document.id}`).then(response => {
									if (response.data.data.length === 0) {
										this.axios.post(`${process.env.API}/last_documents`, {
											user_id: this.$store.state.auth.user.id,
											document_id: rep.data.document.id,
										}).then(response => {
											resolve(true);
										}).catch(error => {
											resolve(false);
										});
									}
									else {
										this.axios.put(`${process.env.API}/last_documents/${rep.data.document.id}`).then(response => {
											resolve(true);
										}).catch(error => {
											resolve(false);
										});
									}
								});
							})
						} else {
							this.axios.get(`${process.env.API}/last_documents?filters=user_id|=|${this.$store.state.auth.user.id},document_id|=|${res.data.data[0].id}`).then(response => {
								if (response.data.data.length === 0) {
									this.axios.post(`${process.env.API}/last_documents`, {
										user_id: this.$store.state.auth.user.id,
										document_id: res.data.data[0].id,
									}).then(response => {
										resolve(true);
									}).catch(error => {
										resolve(false);
									});
								} else {
									this.axios.put(`${process.env.API}/last_documents/${response.data.data[0].id}`).then(response => {
										resolve(true);
									}).catch(error => {
										resolve(false);
									});
								}
							});
						}
					});
				});
			},
			/**
			 * Remove documents in the application cache directory
			 */
			deleteDocuments() {
				window.resolveLocalFileSystemURL(cordova.file.dataDirectory,
					function (fileSystem) {
						let reader = fileSystem.createReader();
						reader.readEntries(
							function (entries) {
								//console.log('entries', entries);
								for (let i=0; i<entries.length; i++) {
									if(entries[i].isFile) {
										entries[i].remove(function(){
											//console.log("File removed");
										}, function(){
											//console.log("Error while removing file");
										});
									}
								}
							},
							function (err) {
								console.log(err);
							}
						);
					}, function (err) {
						console.log(err);
					}
				);
			},
		}
	}
</script>

<style lang="stylus" scoped>
	@require '../../../assets/css/variables.styl'
	div.list.the-list {
		padding-bottom: 'calc( %s + 4rem)' % $app-bottom-height !important
	}
</style>
