<template>
    <div
            v-touch="{
                left: () => onSwipe('left'),
                right: () => onSwipe('right')
            }"
            class="documents-list">
        <v-tabs dark grow class="single-tabs" slider-color="white" v-model="tabs" v-if="!hideTabs">
            <v-tab @click="getDataFromApi('derniers-consultes')" class="tab-title" ripple href="#derniers-consultes">
                Derniers consultés
            </v-tab>
            <v-tab @click="getDataFromApi('les-miens')" class="tab-title" ripple href="#les-miens">Les miens</v-tab>
            <v-tab @click="getDataFromApi('dossiers')" class="tab-title" ripple href="#dossiers">Dossiers</v-tab>
        </v-tabs>

        <list-folder @loadingControl="loadingControl($event)" v-if="tabs === 'dossiers'"
                     @hideTabs="updateHideTabs"></list-folder>
        <list-documents @loadingControl="loadingControl($event)" v-else :documents="documents"></list-documents>

        <v-fab-transition v-if="!allKamion">
            <v-btn
                    v-if="haveDirectories"
                    dark
                    fixed
                    fab
                    bottom
                    right
                    class="float-add-button"
                    :to="{name : 'select-document-informations'}"
            >
                <v-icon>camera</v-icon>
            </v-btn>
        </v-fab-transition>
    </div>
</template>

<script>
    import ListFolder from "./ListFolder";
    import ListDocuments from "./ListDocuments";


    export default {
        components: {ListDocuments, ListFolder},
        data() {
            return {
                documents: [],
				seealldocphase: null,
                allKamion: false,
                tabs: 'derniers-consultes',
                hideTabs: false
            }
        },
        computed: {
            haveDirectories() {
                return this.$store.state.editData.data.directory > 0 && this.$store.state.editData.data.subDirectory > 0;
            },
        },
        methods: {

            /**
             * Hide Tabs when event is happened
             * @param val
             */
            updateHideTabs(val) {
                this.hideTabs = val;
            },
            /**
             * Get Data from Api to get documents for "les-miens" or éderniers-consultesé
             * @param {string} filter : "dossier", "les-miens", "derniers-consultes"
             */
            getDataFromApi(filter) {
                console.log('data', this.$store.state)
                if (
                    (filter === "dossier" && this.$route.params.folder === 0 && this.$route.params.subFolder === 0) ||
                    filter === "les-miens" ||
                    filter === "derniers-consultes"
                ) {
                    this.$router.push({name: 'list-documents', params: {tab: filter}});
                }
                else {
                    return;
                }


                this.documents = [];
                let str = "";
                if (this.allKamion) {
                    if (filter === "les-miens") {
                        str = `${process.env.API}/documents?filters=author_id|=|${this.$store.state.auth.user.id}&embed=author,last_documents&order=updated_at|DESC`;
                    } else {
                        str = `${process.env.API}/users/${this.$store.state.auth.user.id}/last_document`;
                    }

                    if (this.$store.state.editData.directory !== 0) {
                        this.$store.dispatch('updateEditData', {key: 'directory', value: 0});
                    }
                    if (this.$store.state.editData.subDirectory !== 0) {
                        this.$store.dispatch('updateEditData', {key: 'subDirectory', value: 0});
                    }
                } else {
                    if (filter === "les-miens") {
                        str = `${process.env.API}/documents?filters=author_id|=|${this.$store.state.auth.user.id},kamions.id|=|${this.$store.state.single.data.id}&embed=author,last_documents&order=updated_at|DESC`;
                    } else {
                        str = `${process.env.API}/users/${this.$store.state.auth.user.id}/kamions/${this.$store.state.single.data.id}/last_document`;
                    }

                    if (this.$store.state.editData.directory !== 0) {
                        this.$store.dispatch('updateEditData', {key: 'directory', value: 0});
                    }
                    if (this.$store.state.editData.subDirectory !== 0) {
                        this.$store.dispatch('updateEditData', {key: 'subDirectory', value: 0});
                    }
                }

                this.$emit('loadingControl', true);
                this.axios.get(str).then(response => {
                    let items = response.data.data;

                    if (items.length <= 0) {
						this.documents = [];
						this.$emit('loadingControl', false);
                        return;
                    }

                    this.documents = items.map(item => {
                        let tmp = '';
                        if (item.author != null) {
                            tmp = item.author.last_name + ' ' + item.author.first_name;
                        }

                        let tmp2 = '';
                        if (item.last_documents.length !== 0) {
                            tmp2 = item.last_documents[0].pivot.updated_at;
                        }

                        return {
                            name: item.title,
                            extension: item.extension,
                            author: tmp,
                            api_id: item.id,
                            id: item.mfile_id,
                            objectId: item.mfile_object_id,
                            created_at: item.mfile_created_at,
                            updated_at: tmp2,
                            guid: item.guid,
                        };
                    });

                    //order by updated_at
                    function compare(a, b) {
                        return new Date(b.updated_at) - new Date(a.updated_at);
                    }
                    this.documents = this.documents.sort(compare);

						this.$emit('loadingControl', false);

                }).catch(e => {
                    this.$emit('loadingControl', false);
                });
            },
            /*Control navigation with touch swipe*/
            onSwipe(direction) {
                if (direction === 'left') {
                    if (this.tabs === 'derniers-consultes') {
                        this.tabs = 'les-miens';
                        this.getDataFromApi(this.tabs);
                    }
                    else if (this.tabs === 'les-miens') {
                        this.tabs = 'dossiers';
                        this.getDataFromApi(this.tabs);
                    }
                }
                else {
                    if (this.tabs === 'les-miens') {
                        this.tabs = 'derniers-consultes';
                        this.getDataFromApi(this.tabs);
                    }
                    else if (this.tabs === 'dossiers') {
                        this.tabs = 'les-miens';
                        this.getDataFromApi(this.tabs);
                    }
                }
            },
            setHeader() {
                this.$store.dispatch('setHeaderData', {
                    data: {
                        title: 'Documents',
                        search: null,
                        option: null,
                        back: false
                    }
                });
            },
            setFooter() {
                this.$store.dispatch('setFooterData', {
                    data: {
                        display: true
                    }
                });
            },
            /**
             * Push Loadingcontrol to parent when event loadingControl happened
             * @param e
             */
            loadingControl(e) {
                this.$emit('loadingControl', e);
            }
        },
        mounted() {
            this.allKamion = !this.$store.state.single.data.id;
            this.setHeader();
            this.setFooter();

            if (this.$route.params.tab !== undefined) {
                this.tabs = this.$route.params.tab;
            }
            this.getDataFromApi(this.tabs);

            this.$store.dispatch('setFooterData', {
                data: {
                    display: true
                }
            });

            //set edit data to be ready to open the screen dedicated to this task
            this.$store.dispatch('setEditData', {
                data: {
                    mode: 'add',
                    directory: 0,
                    directoryName: '',
                    subDirectory: 0,
                    subDirectoryName: '',
                    change: false
                }
            });
        }

    }
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/variables.styl'
    div.documents-list {
        min-height: $app-content-height

        a.float-add-button {
            bottom: 'calc( %s + 2rem)' % $app-bottom-height !important
            background-color: $secondary-dark-color!important
        }
    }

    div.list.the-list {
        padding-bottom: 'calc( %s + 4rem)' % $app-bottom-height !important
    }
</style>
