@require 'variables'
//@require '../../../node_modules/vuetify/src/stylus/settings/_colors'

// $theme := {
//     primary: $primary-color
//     accent: $primary-light-color
//     secondary: $secondary-color
//     info: $blue.lighten-1
//     warning: $amber.darken-2
//     error: $red.accent-4
//     success: $green.lighten-2
// }

@require '../../../node_modules/vuetify/src/stylus/main'

* {
    box-sizing: border-box;
    outline: none !important;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}
