<template lang="html">
    <section class="app-content" :class="{'search-on':searchOn, 'footer-hidden':footerHidden}">
        <router-view name="app_content" @loadingControl="loadingControl($event)"></router-view>
        <loading-fullscreen :value="loading"></loading-fullscreen>
    </section>
</template>

<script>
    import LoadingFullscreen from '../../components/LoadingFullscreen';
    export default {
        components: {LoadingFullscreen},
        data() {
            return {
                loading:false
            }
        },
        computed: {
            searchOn() {
                return this.$store.state.header.data.search.function !== undefined;
            },
            footerHidden() {
                return this.$store.state.footer.data.display !== true;
            }
        },
        methods:{
            loadingControl(e) {
                this.loading = (e === true);
            }
        }
    }
</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'

    section.app-content {
        height: $app-content-height !important
        width: $app-content-width
        padding: $app-content-padding
        background: $app-content-background
        overflow-y: auto
        &.footer-hidden {
            height: 'calc(100vh - %s )' % $app-bottom-height!important
        }
        &.search-on {
            height: 'calc(100vh - (%s * 3) )' % $app-bottom-height!important
            &.footer-hidden {
                height: 'calc(100vh - (%s * 2) )' % $app-bottom-height!important
            }
        }

        &::-webkit-scrollbar { width: 0 !important }
    }


</style>
