<template lang="html">
    <v-bottom-nav absolute :value="footerOptions.display!==false" class="app-bottom">
        <template v-if="footerOptions.oneButton">
            <v-btn @click="footerOptions.oneButton.function" class="one-button" :class="(footerOptions.oneButton.icon === undefined) ? 'btn--active' : 'with-icon'" :disabled="footerOptions.oneButton.disabled!==false" flat>
                <v-icon v-if="footerOptions.oneButton.icon">{{footerOptions.oneButton.icon}}</v-icon>
                <span v-if="footerOptions.oneButton.text">{{footerOptions.oneButton.text}}</span>
            </v-btn>
        </template>
        <template v-else>
            <div v-if="this.subMenu" @click="closeSub()" class="overlay-sub-item"></div>
            <v-btn :to="{ name: 'list-notifications' }" @click="closeSub()" flat>
                <span>Notification</span>
                <v-badge overlap color="red">
                    <span slot="badge" v-if="notifications.length > 0"></span>
                    <v-icon>notifications</v-icon>
                </v-badge>
            </v-btn>
            <v-btn :class="this.subMenu ? 'btn--active' : ''" @click="add()" flat>
                <span>Ajout</span>
                <v-icon>flash_on</v-icon>
            </v-btn>
            <v-btn :to="{ name: 'list-kamions' }" @click="closeSub()" flat>
                <span>Kamions</span>
                <v-icon>dashboard</v-icon>
            </v-btn>

            <v-layout v-if="this.subMenu" row class="sub-item">
                <v-layout column v-for="subItem in subItems" :key="subItem.title" >
                    <div class="img-container" @click="subItem.function">
                        <img :src="subItem.icon"/>
                    </div>
                     {{subItem.title}}
                 </v-layout>
            </v-layout>
        </template>
        <div v-if="this.subMenu" class="arrow-down"></div>
    </v-bottom-nav>
</template>

<script>
export default {
    data() {
        return {
            subItems :[],
            subMenu :null,
            notifications:[],
            notificationsIntervalId:null,
            allKamion:true,
            subMenuQuickAdd:[
                {
                    title:"Temps",
                    icon : require('../../assets/img/menu_temps.svg'),
                    function :()=> {
                        this.closeSub();
                        this.$store.dispatch('setEditData', {
                            data: {
                                mode:           'add',
                                kamion_id:      null,
                                instruction_id: null,
                                length:         0,
                                remark:         '',
                                change:         false
                            }
                        });
                        this.$router.push({name : "select-logtime-kamion"});
                    }
                },
              /*  {
                    title:"Documents",
                    icon : require('../../assets/img/menu_document.svg'),
                    function :()=> {
                        this.closeSub();
                        this.$store.dispatch('setEditData', {
                            data: {
                                mode:'add',
                                directory:0,
                                directoryName:'',
                                subDirectory:0,
                                subDirectoryName:'',
                                change: false
                            }
                        });
                        this.$router.push({name : "select-document-informations"});
                    }
                },*/
                {
                    title:"Matière",
                    icon : require('../../assets/img/menu_matiere.svg'),
                    function :()=> {
                        this.closeSub();
                        this.$store.dispatch('setEditData', {
                            data: {
                                mode:'add',
                                kamion_id:null,
                                instruction_id:null,
                                materialresource_id:null,
                                quantity:null,
                                change:false
                            }
                        });
                        this.$router.push({name : "select-material-kamion"});
                    }
                }
            ]
        }
    },
    computed: {
          footerOptions() {
              return this.$store.state.footer.data;
          }
    },
    methods:{
        getNotifications() {
            this.$http.get(`${process.env.API}/notifications?order=created_at|desc&embed=users,parameters,notification_ticket.ticket&filters=users.id|=|${this.$store.state.auth.user.id}`).then(response => {
                let oldNotificationsNumber = this.notifications.length;
                this.notifications = [];
                response.data.data.forEach(item => {
                    if (item.users_count > 0) {
                        item.users.forEach(user => {
                            if (user.id == this.$store.state.auth.user.id && user.pivot.is_read == 0){
                                this.notifications.push(item);
                            }
                        });
                    }
                });

                if (this.notifications.length > 0 && oldNotificationsNumber !== this.notifications.length && !!window.cordova) {
                    let cordovaNotifications = [];
                    let id = 1;
                    //prepare data for local notification plugin
                    this.notifications.forEach(notification => {
                        cordovaNotifications.push({
                            id,
                            title: notification.type,
                            text: notification.title,
                            foreground: true,
                            vibrate:true
                        });
                        id++;
                    });
                    //add notifications not read displayed by local notification plugin
                    cordova.plugins.notification.local.schedule(cordovaNotifications);
                }
            });
        },
        add(){
            this.openSub('add', this.subMenuQuickAdd);
        },
        openSub(menu,items) {
            if (this.subMenu === menu || items.length === 0){
                this.subMenu = null;
                return;
            }
            this.subMenu = menu;
            this.subItems = items;
        },
        closeSub(){
            this.subMenu = null;
        },
        clickNotifications() {
            //event listener when click to a notification redirect to the list notifications page
            cordova.plugins.notification.local.on("click", () => {
                this.$router.push({ name: 'list-notifications' });
            });
        },
        manageSubMenuQuickAdd(allKamion) {
            /*if (allKamion && this.subMenuQuickAdd.length === 3) {
                this.subMenuQuickAdd.splice(1, 1);
            }
            else if (!allKamion && this.subMenuQuickAdd.length === 2) {
                let item = {
                    title:"Documents",
                    icon : require('../../assets/img/menu_document.svg'),
                    function :()=> {
                        this.closeSub();
                        this.$store.dispatch('setEditData', {
                            data: {
                                mode:'add',
                                directory:0,
                                directoryName:'',
                                subDirectory:0,
                                subDirectoryName:'',
                                change: false
                            }
                        });
                        this.$router.push({name : "select-document-informations"});
                    }
                };
                this.subMenuQuickAdd.splice(1, 0, item);
            }*/
        }
    },
    mounted() {
        this.allKamion = !this.$store.state.single.data.id;

        this.notificationsIntervalId = setInterval(function() {
            this.getNotifications();
        }.bind(this), 60000 * 1);// each minute
        document.addEventListener('deviceready', this.clickNotifications, false);

        this.manageSubMenuQuickAdd(this.allKamion);
    },
    beforeDestroy() {
        document.removeEventListener('deviceready', this.clickNotifications, false);
        window.clearInterval(this.notificationsIntervalId);
    },
    watch: {
        '$store.state.single.data': {
            handler: function(kamion) {
                this.manageSubMenuQuickAdd(!kamion.id);
            },
            deep: true
        },
        $route(to, from) {
            if (to.name === 'list-notifications') {
                this.notifications = [];
            }
        },
    }

}
</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'

    .app-bottom {
        height: $app-bottom-height

        div.arrow-down {
            content:'';
            width: 0px;
            height: 0px;
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-top: 1rem solid #fff;
            position:absolute;
            top:-1.1rem;
        }

        .btn {
                filter:none!important;
                -webkit-filter:none!important;
                opacity: 1!important;

                &:not(.btn--active) > .btn__content {
                    i {
                        opacity:0.5;
                    }
                    span:not(.badge) {
                        opacity:0.5;
                    }
                }


                &.btn--active {
                    color : $secondary-dark-color;
                }

                span.badge >>> span.badge__badge {
                    top: 0px;
                    right: -4px;
                    height: 8px;
                    width: 8px;
                }

        }


        button.one-button {
            max-width: inherit;
            min-width: inherit;
            color:$secondary-dark-color!important;
            &.btn--disabled {
                i.icon, span {
                    color: rgba($secondary-dark-color, 0.3) !important;
                }
            }
            & >>> div.btn__content {
                font-size: 2rem
                opacity:1!important
            }
            &.with-icon {
                & >>> div.btn__content {
                    flex-direction: column
                    font-size: 1.4rem
                    opacity:1!important
                }
                i.icon {
                    font-size: 3rem
                    margin-bottom: 0
                    opacity:1!important
                }
                span {
                    opacity:1!important
                }
            }

        }

        div.overlay-sub-item {
            position: fixed;
            top: -100vh;
            left: 0;
            width: 100vw;
            height: calc(100vh - 10rem)
            background-color: rgba(255,255,255,0.75);
            z-index: 2;
        }


        .sub-item  {
            background-color: white
            color:  $secondary-dark-color
            height: 9rem
            width: 100 vw
            position:absolute
            top:-10rem
            left :0
            justify-content: space-around
            align-items:center
            box-shadow inset 0 1px 0 0 rgba(213,237,255,0.5), inset 0 -1px 0 0 rgba(171,180,208,0.23), 0 10px 12px 0 rgba(222,230,238,0.42)


            div {
                align-items :center
            }
            .img-container{
                height:4.2rem
                width:4.2rem
                background-color: $secondary-dark-color
                border-radius: 50%
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 0.5rem;
            }
            img {
                text-align: center;
                height:2.2rem;
            }
        }
    }
</style>
