<template lang="html">
    <header>
        <v-toolbar dark v-if="displaySearch === false">

            <v-btn v-if="back" icon @click="backFunction">
                <v-icon>{{back.icon !== undefined ? back.icon : 'arrow_back'}}</v-icon>
            </v-btn>
            <v-toolbar-side-icon v-else @click="openMenu"></v-toolbar-side-icon>
            <v-toolbar-title>{{title()}}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn v-if="search.position === 'full'" @click="displaySearch = !displaySearch" flat><v-icon>search</v-icon></v-btn>
                <template v-if="option">
                    <v-btn :disabled="option.disabled !== undefined ? option.disabled : true" @click="option.function" flat>
                        <img v-if="option.img" :src="option.img"/>
                        <v-icon v-else-if="option.icon">{{option.icon}}</v-icon>
                        <template v-else>{{option.text || ''}}</template>
                    </v-btn>
                </template>
            </v-toolbar-items>
            <v-layout v-if="search.position === 'normal'" slot="extension" row wrap ma-2>
                <v-flex xs12>
                    <v-text-field :placeholder="search.placeholder" solo light prepend-icon="search" hide-details single-line v-model="searchModel"></v-text-field>
                </v-flex>
            </v-layout>
        </v-toolbar>
        <v-toolbar v-else dark>
            <v-layout>
                <v-flex xs12 pa-2 >
                    <v-text-field solo light :placeholder="search.placeholder" prepend-icon="search" hide-details single-line v-model="searchModel"></v-text-field>
                </v-flex>
            </v-layout>
        </v-toolbar>
    </header>
</template>

<script>
    import _ from 'lodash'
    export default {
        data() {
    		return {
                displaySearch: false,
    			searchModel: ''
    		}
    	},
        computed: {
            search() {
                if (this.$store.state.header.data.search === null || this.$store.state.header.data.search === undefined) {
                    this.$store.state.header.data.search = {}
                }
                if (this.$store.state.header.data.search.position === undefined) {
                    this.$store.state.header.data.search.position = 'none'
                }
                if (this.$store.state.header.data.search.placeholder === undefined) {
                    this.$store.state.header.data.search.placeholder = ''
                }
                return this.$store.state.header.data.search;
            },
            back() {
                return this.$store.state.header.data.back;
            },
            option() {
                return this.$store.state.header.data.option;
            }
        },
        watch: {
            searchModel: function(val) {
                this.debounceInput(val);
            },
            $route(to, from) {
                this.searchModel = '';
            },
            '$store.state.header.data': {
                handler: function() {
                    this.searchModel = '';
                    if (this.$store.state.header.data.search === null || this.$store.state.header.data.search === undefined) {
                        this.$store.state.header.data.search = {}
                    }
                    if (this.$store.state.header.data.search.position === undefined) {
                        this.$store.state.header.data.search.position = 'none'
                    }
                    if (this.$store.state.header.data.search.placeholder === undefined) {
                        this.$store.state.header.data.search.placeholder = ''
                    }
                },
                deep: true
            },
        },
        methods: {
            debounceInput: _.debounce(function(val) {
                if (typeof this.search.function === 'function') {
                    this.search.function(val)
                }
            }, 500),
            openMenu(){
                this.$eventHub.$emit('open-main-menu')
            },

            title(){
                return this.$store.state.header.data.title;
            },
            backFunction() {
                if (this.back.function !== undefined) {
                    this.back.function()
                }
                else {
                    this.$router.go(-1);
                }
            }
        }
    }
</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'



</style>
