<template lang="html">
    <div class="app-layout">
        <div class="app-body">
            <app-header></app-header>
            <app-content></app-content>
        </div>

        <app-main-menu></app-main-menu>
        <app-right-menu></app-right-menu>
        <app-right-sub-menu></app-right-sub-menu>

        <app-footer></app-footer>
        <app-modal></app-modal>

    </div>
</template>

<script>
    import AppContent       from './Content.vue'
    import AppHeader        from './Header.vue'
    import AppMainMenu      from './MainMenu.vue'
    import AppFooter        from './Footer.vue'
    import AppRightMenu     from './RightMenu.vue'
    import AppRightSubMenu  from './RightSubMenu.vue'
    import AppModal         from './Modal.vue'

    export default {
        components: { AppContent, AppHeader, AppFooter, AppMainMenu, AppRightMenu, AppRightSubMenu, AppModal},
        data() {
          return {
              durationsIntervalId:null
          }
        },
        methods : {
            getDurations() {
                let today = new Date();
                let YYYYMMDD = today.toISOString().slice(0,10);
                let day = today.getDay();
                let days = [
                    "sunday",
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday",
                ];

                let data = {
                    todayDuration : null,
                    specialDuration : null,
                    breakTime: null
                };
                this.$store.dispatch('setDurationsData', {data});

                //get the default time for today
                this.axios.get(`${process.env.API}/settings/slug/defaulttime${days[day]}`).then(response => {
                    let todayDuration = response.data;
                    todayDuration.value = parseInt(todayDuration.value);
                    this.$store.dispatch('updateDurationsData', {key:'todayDuration', value : todayDuration});
                });

                //get the special durations
                this.axios.get(`${process.env.API}/durations?filters=date|=|${YYYYMMDD}`).then(response => {
                    let specialDuration = response.data.data.length > 0 ? response.data.data[0] : null;
                    if (specialDuration !== null) {
                        specialDuration.value = parseInt(specialDuration.value);
                    }
                    this.$store.dispatch('updateDurationsData', {key:'specialDuration', value : specialDuration});
                });

                //get the break time
                this.axios.get(`${process.env.API}/settings/slug/defaultbreaktime`).then(response => {
                    let breakTime = response.data;
                    breakTime.value = parseInt(breakTime.value);
                    this.$store.dispatch('updateDurationsData', {key:'breakTime', value : breakTime});
                });
            }
        },
        mounted() {
            this.getDurations();
            this.durationsIntervalId = setInterval(function() {
                this.getDurations();
            }.bind(this), 60000 * 60);//1hour
        },
        beforeDestroy() {
            window.clearInterval(this.durationsIntervalId);
        }
    }

</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'

    div.app-layout {
        display: flex
        height: 100vh

        div.app-body {
            display: flex
            flex-direction: column
            height: $app-body-height
            width: $app-body-width
        }
    }
</style>
