<template lang="html">
    <div v-touch="{
                left: () => closeMainMenu()
            }">
        <v-btn v-if="isOpen" class="close" @click="isOpen = false" flat icon color="white"><v-icon>close</v-icon></v-btn>
        <v-navigation-drawer
            fixed temporary class="app-main-menu"
            v-model="isOpen" >

             <div class="main-menu-header">
                 <div class="main-menu-header-infos">
                     <img :src="userAvatar">
                     <div @click="isParamOpen =! isParamOpen">
                        {{userName}}
                         <v-icon color="white" :class="{open:isParamOpen}">keyboard_arrow_down</v-icon>
                     </div>
                 </div>
             </div>
             <v-list dark dense class="main-menu-content" v-if="!isParamOpen">
                 <v-list-tile
                         v-for="item in items"
                         :key="item.title"
                         :to="item.link"
                         v-if="
                         ((item.onlyKamionChoosen === false) || (item.onlyKamionChoosen && kamion.id))
                         && ((item.mfilesDependency === false) || ($store.state.auth.mfiles !== null))
                    ">
                     <v-list-tile-action>
                         <img :src="item.img"/>
                     </v-list-tile-action>
                     <v-list-tile-content @click="closeMainMenu()">
                         <v-list-tile-title class="main-menu-item">{{item.title}}</v-list-tile-title>
                     </v-list-tile-content>
                 </v-list-tile>
             </v-list>
             <v-list dark dense class="main-menu-content" v-if="isParamOpen">
                 <v-list-tile v-for="item in paramsItems" :key="item.title">
                     <v-list-tile-action>
                         <img :src="item.img"/>
                     </v-list-tile-action>
                     <v-list-tile-content @click="item.paramFunction()">
                         <v-list-tile-title class="main-menu-item">{{item.title}}</v-list-tile-title>
                     </v-list-tile-content>
                 </v-list-tile>
            </v-list>
            <div class="main-menu-footer" :class="{ 'all': !kamion.id}" @click="goToKamion()" :style="{'border-bottom-color' : nbPhase == 4 ? '#549519' : nbPhase == 3 ? '#77c52d' : '#7591a0'}">
                <v-layout column v-if="kamion.id > 0">
                    <v-flex>{{this.kamion.name}}</v-flex>
                    <v-flex>{{this.kamion.wana_id}} {{projectManager}}</v-flex>
                </v-layout>
                <v-layout v-else column>
                    <v-flex>Tous les kamions</v-flex>
                </v-layout>
            </div>
        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isOpen:false,
            isParamOpen:false,
            paramsItems :[
                {
                    title:'Déconnexion',
                    img:require('../../assets/img/menu_logout.svg'),
                    paramFunction: this.logout
                },
            ],
            items :[
                {
                    title: 'Kamions',
                    img:require('../../assets/img/menu_kamion.svg'),
                    link: {name:'list-kamions'},
                    onlyKamionChoosen: false,
                    mfilesDependency: false
                },
                {
                    title:'Documents',
                    img:require('../../assets/img/menu_document.svg'),
                    link: {name:'list-documents'},
                    onlyKamionChoosen: true,
                    mfilesDependency: true
                },
                {
                    title:'Mes heures',
                    img:require('../../assets/img/menu_temps.svg'),
                    link: {name:'list-logtimes'},
                    onlyKamionChoosen: false,
                    mfilesDependency: false
                },
                {
                    title:'Matière',
                    img:require('../../assets/img/menu_matiere.svg'),
                    link: {name:'list-materials'},
                    onlyKamionChoosen: true,
                    mfilesDependencies: false
                },
            ]
        }
    },
    watch: {
        '$store.state.single.data': {
            handler: function(kamion) {
                if (kamion.id) {
                    this.items[0].title  = 'Kamion';
                    this.items[0].link   = { name:'single-kamion', params: {id: this.$store.state.single.data.id }};
                }
                else {
                    this.items[0].title  = 'Kamions';
                    this.items[0].link   = {name:'list-kamions'};
                }
            },
            deep: true
        },
        isOpen(val) {
            if (val === false) {
                this.isParamOpen = false;
            }
        }
    },
    computed : {
        userAvatar(){
            return (this.$store.state.auth.user.avatar !== "null") ? `${process.env.STORAGE}/${this.$store.state.auth.user.avatar}` : `${process.env.STORAGE}/avatars/default_black.svg`;
        },
        userName(){
            if (this.$store.state.auth.user  ){
                return this.$store.state.auth.user.first_name + ' '+
                    this.$store.state.auth.user.last_name;
            }
            return ''
        },
        projectManager() {
            if (this.kamion && !! this.kamion.users) {
                let project_manager = this.kamion.users.find(function(element) {
                    return element.pivot.is_project_manager === 1;
                });
                return project_manager ? '(' + project_manager.first_name + ' ' + project_manager.last_name+')' : '' ;
            }  else {
                return '';
            }
        },
        kamion : function (){
            return this.$store.state.single.data;
        },
        nbPhase() {
            return this.kamion && this.kamion.mfiles && this.kamion.mfiles.phase ? parseInt(this.kamion.mfiles.phase.match(/[0-9][0-9]/)) : 0;
        }
    },
    methods :{
        logout() {
            this.$store.dispatch('logout',  { token : this.$store.state.auth.token});
        },
        closeMainMenu(){
            this.isOpen = false;
        },
        goToKamion(){
            if (this.kamion.id > 0) {
                this.$router.push({ name:'single-kamion', params: {id: this.kamion.id }});
            }
            else {
                this.$router.push({ name:'list-kamions'});
            }
            this.closeMainMenu();
        },
    },
    created() {
        this.$eventHub.$on('open-main-menu', (component, params) => {
            if(this.isOpen && this.currentView == component) {
                this.isOpen = false;
            } else {
                this.isOpen = true;
            }
        })

        this.$eventHub.$on('close-main-menu', () => {
            this.isOpen = false;
        })
    }
}
</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'

    button.close {
        position:absolute
        top: 0.5rem
        right: 1rem
        z-index: 100;
    }

    .app-main-menu {
        width: 30rem !important
        padding-bottom: 0


        .main-menu-header {
            position:relative;
            display:flex
            justify-content: space-between
            flex-direction: column
            height: calc(48px + 20vh)
            background: $primary-light-color


            div.main-menu-header-infos {
                position:absolute
                bottom: 0
                left: 1.5rem
                img {
                    width: 6.4rem
                    height: 6.4rem
                    margin-bottom: 3rem
                    border-radius: 50%
                    object-fit:cover

                }
                div {
                    transition transform ease 0.5s
                    margin-bottom: 1rem
                    font-size: 1.4rem
                    color: #fff;
                    i.open {
                        transform: rotate(-180deg);
                    }
                }
            }

        }
        .main-menu-content {
            height: calc(72vh - 48px)
            background: #2C2C2C
            box-shadow: 0 0 4px black
            img {
                opacity 0.4
                width:1.6rem
            }
            .main-menu-item {
                font-size: 1.6rem
                color: white
                text-decoration: none
            }
        }
        .main-menu-footer {
            position: absolute
            bottom: 0
            left: 0
            width: 30rem
            background: $primary-color
            box-shadow: 0 0 0.4rem black
            height: 12vh
            padding-left: 1.7rem
            padding-top  1.5rem
            cursor:pointer
            div.flex {
                font-size 1.2rem
                color: white

                &:first-child {
                    font-weight: 800
                }
            }
            border-bottom: 0.5rem solid #7591a0

            &.all {
                border-bottom-color: #2DA3FF
            }
        }
    }


</style>
