<template lang="html">
    <v-dialog v-model="isOpen" :max-width="width" @keydown.enter="warning ? close() : validate()" @keydown.esc="close" :persistent="true">
        <v-card>
            <v-card-title :class="{ 'warning' : warning }" v-if="title != null">
                <h2>
                    <v-icon v-if="warning">warning</v-icon>
                    <v-icon v-if="!warning && icon">{{ icon }}</v-icon>
                    <span>{{ title }}</span>
                </h2>
                <v-btn small icon @click="close">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-card-title>

            <v-card-text>
                <template v-if="currentView">
                    <component :is="currentView" :params="params" ref="currentView"></component>
                </template>
            </v-card-text>

            <v-card-actions v-if="currentView != null && actions === true">
                <v-btn round small flat :color="warning ? 'warning' : 'primary'" @click.native="close">Annuler</v-btn>
                <v-btn round depressed small :color="warning ? 'warning' : 'primary'" @click.native="validate()" :loading="loading">Valider</v-btn>
                <v-btn round depressed small color="primary" v-if="more_action" @click.native="validate_add(false, currentView)" :loading="loading">{{more_action}}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        data() {
            return {
                isOpen:         false,
                currentView:    null,
                more_action:    null,
                params:         {},
                title:          null,
                icon:           null,
                width:          null,
                warning:        false,
                loading:        false,
                actions:        true
            }
        },

        methods: {
            close() {
                this.$refs.currentView.onClose()
            },

            validate() {
                this.loading = true

                if(!this.$refs.currentView.onValidate()) {
                    this.loading = false
                }
            },
        },

        created() {
            this.$eventHub.$on('open-modal', (component, params = {}) => {
                this.isOpen         = true
                this.currentView    = component
                this.params         = params

                this.title          = this.currentView.data().title         || null
                this.icon           = this.currentView.data().icon          || null
                this.width          = this.currentView.data().width         || '750px'
                this.warning        = this.currentView.data().warning       || false
                this.more_action    = this.currentView.data().more_action   || null
                this.actions        = this.currentView.data().actions       || true
            })

            this.$eventHub.$on('close-modal', () => {
                this.loading        = false
                this.isOpen         = false

                setTimeout(() => { this.currentView = null }, 500)
            })

            this.$eventHub.$on('hide-modal-actions', () => {
                this.actions = false
            })
        }
    }
</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'

    .dialog {
        font-family: 'Muli', sans-serif
        letter-spacing: -0.4px
        .card {
            .card__title {
                justify-content: space-between
                padding: 1.5rem 2rem
                background: $primary-color

                h2 {
                    display: flex
                    align-items: center
                    margin: 0
                    color: #fff
                    font-size: 1.8rem
                    font-weight: 500

                    .icon {
                        margin: 0 1.5rem 0 0
                        font-size: 3rem
                        color: #fff !important
                    }
                }

                button {
                    margin: 0

                    .icon {
                        font-size: 2rem
                        color: #fff
                    }
                }
            }

            .card__text {
                padding: 3rem 2rem
            }

            .card__actions {
                display: flex;
                justify-content: flex-end;
                padding: 1.5rem 2rem

                button:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
</style>
