<template lang="html">
    <div v-if="isOpen" class="overlay">
        <v-navigation-drawer
            fixed dark right temporary class="app-right-menu"
            v-model="isOpen" :permanent="isOpen">
         <v-layout class="right-menu-header">
             Chemin des attentes
             <v-icon color="white" @click="closeRightMenu()">close</v-icon>
         </v-layout>
         <v-list class="right-menu-content">
             <div v-for="item in items" :key="item.id">
                  <v-list-tile @click="openRightSubMenu(item)">
                      <v-list-tile-content >
                          <v-layout :class="{'selected':isSelected(item) , 'menu-item-content':true}" >
                              <v-flex>
                                {{item.numbering}}
                              </v-flex>
                              <v-flex class="item-text">
                                  {{item.title}}
                             </v-flex>
                         </v-layout>
                     </v-list-tile-content>
                     <v-list-tile-action >
                         <v-icon :color="isSelected(item) ? 'white' :'grey'">keyboard_arrow_right</v-icon>
                     </v-list-tile-action>
                  </v-list-tile>
                  <v-divider></v-divider>
             </div>
         </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isOpen:false,
            items :[]
        }
    },
    methods :{
        isSelected(item){
            return this.$store.state.rightMenu.data &&
                this.$store.state.rightMenu.data.parent &&
                this.$store.state.rightMenu.data.parent.id === item.id;
        },
        openRightSubMenu(chapter){
            this.$store.dispatch('setRightMenuData',{data: {
                parent : chapter
            }});
            this.$eventHub.$emit('open-right-sub-menu');
        },
        closeRightMenu(){
            this.isOpen = false;
            this.$store.dispatch('clearRightMenuData');
            this.$eventHub.$emit('choose-chapter');
        },
        getDataFromApi(){
            this.axios.get(`${process.env.API}/chapters?filters=kamion_id|=|${this.$store.state.single.data.id}`)
                .then(response => {
                    this.items = response.data.data.filter(a=> a.parent_id === null);
                });
        }
    },
    created() {
        this.$eventHub.$on('open-right-menu', () => {
            if(this.isOpen) {
                this.isOpen         = false;
            } else {
                this.isOpen         = true;
                this.getDataFromApi();
            }
        });

        this.$eventHub.$on('close-right-menu', () => {
            this.isOpen = false;
        });
    }
}
</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'

    .app-right-menu {
        width: 30rem !important
        background-color:#2C2C2C !important
        justify-content: flex-end
        z-index:1
        padding-bottom: 0
        .right-menu-header {
            background: $primary-color
            justify-content:space-around
            align-items: center
            color: white
            height:$app-header-height
        }
        .right-menu-content {
            background: #2C2C2C
            height:100vh-$app-header-height
            .selected {
                color:white !important
            }
            .menu-item-content {
                display:flex
                justify-content:space-between
                align-items: center
                color:grey
                div {
                    .item-text {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    overflow: hidden
                    white-space: nowrap
                    padding: 5px
                }
            }
        }
    }


    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.5);
    }
</style>
