<template lang="html">
    <div v-if="isOpen" class="overlay">
        <v-navigation-drawer
            fixed dark right temporary class="app-right-sub-menu"
            v-model="isOpen" :permanent="isOpen">
         <v-layout class="right-sub-menu-header">
              <v-icon color="white" @click="closeRightSubMenu()">arrow_back</v-icon>
             {{getChapterTitle()}}
             <v-icon color="white" @click="closeRightMenu()">close</v-icon>
         </v-layout>
         <v-list class="right-sub-menu-content">
            <div v-for="item in items" :key="item.id">
                 <v-list-tile class="right-sub-menu-item"
                 @click="chooseItem(item)">
                     <v-list-tile-content >
                         <v-layout :class="{'selected':isSelected(item) , 'menu-item-content':true}" >
                             <v-flex>
                                {{item.numbering}}
                             </v-flex>
                             <v-flex class="item-text">
                                 {{item.title}}
                            </v-flex>
                        </v-layout>
                    </v-list-tile-content>
                    <v-list-tile-action >
                        <v-icon :color="isSelected(item) ? 'white' :'grey'">keyboard_arrow_right</v-icon>
                    </v-list-tile-action>
                 </v-list-tile>
                 <v-divider></v-divider>
            </div>
         </v-list>
        </v-navigation-drawer>
    </div>
</template>
<script>
export default {
    data() {
        return {
            isOpen:false,
            chapter:null,
            items :[]
        }
    },
    methods :{
        isSelected(item){
            return this.$store.state.rightMenu.data &&
                this.$store.state.rightMenu.data.id === item.id;
        },
        getChapterTitle (){
            return this.$store.state.rightMenu.data.parent.title;
        },
        chooseItem(item){
            this.isOpen = false;
            item.parent = this.$store.state.rightMenu.data.parent;
            this.$store.dispatch('setRightMenuData',{data:item});
            this.$eventHub.$emit('choose-chapter')
            this.$eventHub.$emit('close-right-menu');
        },
        closeRightSubMenu(){
            this.isOpen = false;
        },
        closeRightMenu(){
            this.$eventHub.$emit('close-right-menu');
            this.$store.dispatch('clearRightMenuData');
            this.$eventHub.$emit('choose-chapter');
            this.isOpen = false;
        },
        getDataFromApi(){
            this.axios.get(`${process.env.API}/chapters?filters=parent_id|=|`+
                this.$store.state.rightMenu.data.parent.id)
                .then(response => {
                    this.items = response.data.data;
                });
        }
    },
    created() {
        this.$eventHub.$on('open-right-sub-menu', () => {
            if(this.isOpen) {
                this.isOpen = false;
            } else {
                this.isOpen = true;
                this.getDataFromApi();
            }
        })

        this.$eventHub.$on('close-right-sub-menu', () => {
            this.isOpen = false;
        })
    }
}
</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'

    .app-right-sub-menu {
        width: 25rem !important
        background-color:#2C2C2C !important
        justify-content: flex-end
        z-index:1
        padding-bottom: 0
        .right-sub-menu-header {
            background: $primary-color
            justify-content:space-around
            align-items: center
            color: white
            height:$app-header-height
        }
        .right-sub-menu-content {
            background: #2C2C2C
            height:100vh-$app-header-height
            .selected {
                color:white !important
            }
            .menu-item-content {
                display:flex
                justify-content:space-between
                align-items: center
                color:grey
                div {
                    .item-text {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    overflow: hidden
                    white-space: nowrap
                    padding: 5px
                }
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.5);
    }
</style>
