<template lang="html">
    <div class="auth-layout">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="stylus" scoped>

    div.auth-layout {
        display: flex
        justify-content: center
        align-items: center
        height: 100vh
        width: 100vw
        background: #000 url('../../assets/img/auth-background.svg')
        background-size: cover;
    }

</style>
