<template lang="html">
    <v-form  ref="form" @submit.prevent="">
        <v-flex xs12>
            <v-text-field label="Contenu" v-model="model.content" :rules="rules.content" required></v-text-field>
        </v-flex>
        <v-flex xs12>
            <v-select
                label="Emetteur"
                autocomplete
                required
                chips
                :items="transmitters"
                item-value="value"
                item-text="label"
                :rules="rules.transmitter"
                v-model="model.from_client"
                >
            </v-select>
        </v-flex>
        <v-flex xs12>
            <v-select
                label="Auteur"
                autocomplete
                required
                chips
                :items="users"
                item-value="id"
                :rules="rules.author"
                v-model="author"
                readonly
                >
                <template slot="selection" slot-scope="data">
                    <v-chip>
                        <v-avatar>
                            <img
                            v-if="getAvatar(data)!==''"
                            :src="getAvatar(data)"
                            />
                        </v-avatar>
                        {{ data.item.first_name }} {{ data.item.last_name }}
                    </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                    <template v-if="typeof data.item === 'object'">
                        <v-avatar>
                            <img :src="getAvatar(data)" />
                        </v-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>{{ data.item.first_name }} {{ data.item.last_name }}</v-list-tile-title>
                        </v-list-tile-content>
                    </template>
                </template>
            </v-select>
        </v-flex>
        <v-divider class="large-divider"></v-divider>
        <v-flex xs12>
            <v-select
                label="Resp. action"
                autocomplete
                required
                chips
                clearable
                :items="users"
                item-value="id"
                v-model="resp"
                :rules="rules.author"
                >
                <template slot="selection" slot-scope="data">
                    <v-chip>
                        <v-avatar>
                            <img
                            v-if="getAvatar(data)!==''"
                            :src="getAvatar(data)"
                            />
                        </v-avatar>
                        {{ data.item.first_name }} {{ data.item.last_name }}
                    </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                    <template v-if="typeof data.item === 'object'">
                        <v-avatar>
                            <img :src="getAvatar(data)" />
                        </v-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>{{ data.item.first_name }} {{ data.item.last_name }}</v-list-tile-title>
                        </v-list-tile-content>
                    </template>
                </template>
            </v-select>
        </v-flex>
        <v-dialog
        persistent
        lazy
        full-width
        width="290px">
            <v-text-field
            slot="activator"
            label="Date butoire"
            v-model="dateFormatted"
            readonly
            ></v-text-field>
            <v-date-picker
            v-model="model.deadline"
            no-title
            scrollable
            actions
            :first-day-of-week="1"
            locale="fr-fr"
            @input="dateFormatted = formatDate($event)"
            >
              <template slot-scope="{ save}">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="save">OK</v-btn>
                </v-card-actions>
              </template>
            </v-date-picker>
        </v-dialog>
        <v-divider class="large-divider"></v-divider>
    </v-form>
</template>

<script>
export default {
    data() {
        return {
            users: [],
            title: 'Edition du débat',
            author: {},
            resp: {},
            dateFormatted: '',
            model: {
                content: '',
                is_open: 1,
                from_client: '',
                element_id: '',
                users: [],
                deadline: '',
            },
            rules: {
                content: [
                    (v) => !!v || 'Contenu obligatoire',
                ],
                transmitter: [
					(v) => (v===0 || v===1) || 'Emetteur obligatoire',
				],
                author: [
					(v) => !!v || 'Auteur obligatoire',
				],
                resp: [
                    (v) => !!v || 'Resp. Action obligatoire',
                ],
                deadline: [
                    (v) => !!v || 'Date butoire obligatoire',
                ]
            },
            transmitters: [
                { label: 'Client', value: 1},
                { label: 'TTK', value: 0}
            ]
        }
    },
    mounted() {
        this.model.element_id=this.$store.state.singleElement.data.id;
        this.axios.get(`${process.env.API}/users`)
            .then(response => {
                response.data.data.forEach(item => {
					let obj = item
					obj.fullName = item.first_name + ' ' + item.last_name
					this.users.push(obj)
                    if(obj.id===Number(this.$store.state.auth.user.id)){
                        this.author = obj;
                    }
				})
            })
            .catch(err => console.log(error))

    },
    methods: {
        formatDate (date) {
            if (!date) {
              return null
            }

            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        getAvatar(data) {
                return data.item.avatar ? `${process.env.STORAGE}/` +  data.item.avatar : `${process.env.STORAGE}/demo.jpg`;
        },
        onClose() {
            this.$eventHub.$emit('close-modal')
        },
        onValidate() {
            console.log(this.model);
            if (this.$refs.form.validate()) {
                this.model.users.push({
                    id: this.author.id,
                    is_author: 1
                });
                this.model.users.push({
                    id: this.resp,
                    is_concerned: 1
                });
                this.axios.post('${process.env.API}/discussions', this.model)
                    .then(response => {
                        if(response.status === 200) {
                            this.$eventHub.$emit('close-modal');
                            this.$eventHub.$emit('reload-element-single-element');
                        }
                    })
                    .catch(err => console.log(err))
            } else {
                return false;
            }
        }
    }

}
</script>

<style lang="stylus" scoped>

    .large-divider {
        width: calc(100%+4rem)
        margin-left: -2rem
    }
</style>
