<template lang="html">
    <div>
        _ètze_ètzefrze_u-ft
    </div>

</template>

<script>
export default {
    data() {
        return {
        }
    },
    created(){
    }
}
</script>

<style lang="stylus" scoped>

</style>
