<template lang="html">
    <div class="full-size-container">
        <v-list three-line>
            <template v-for="discussion in discussions">
                <v-list-tile avatar class="discussions-list-tile" ripple :to="{ name:'single-debates', params: { id: discussion.id }}">
                    <v-list-tile-avatar>
                        <img :src="getLastAvatar(discussion)"/>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title >{{ discussion.content }}</v-list-tile-title>
                        <v-list-tile-sub-title >{{getLastMessage(discussion)}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>
            </template>
        </v-list>
        <v-btn fab dark color="indigo" class="bottom-button" @click="openCreateDebateModal()">
          <v-icon dark>add</v-icon>
        </v-btn>
    </div>

</template>

<script>
import AddDebate from './AddDebate'

export default {
    data() {
        return {
            discussions :[]
        }
    },
    methods: {
        getLastAvatar(discussion){
            let lastMessage  = discussion.messages.reduce(function(prev, current) {
                return (prev !== null && prev.created_at > current.created_at) ? prev : current
            },null);
            return (lastMessage && !!lastMessage.user.avatar) ? `${process.env.STORAGE}/` + lastMessage.user.avatar : '';
        },
        getLastMessage(discussion){
            let lastMessage  = discussion.messages.reduce(function(prev, current) {
                return (prev !== null && prev.created_at > current.created_at) ? prev : current
            }, null);
            return lastMessage ? lastMessage.content : '';
        },
        getDataFromApi() {
            this.axios.get(`${process.env.API}/discussions?filters=element_id|=|${this.$route.params.id}&embed=messages.user&order=updated_at|DESC`)
                .then(response => {
                        this.discussions = response.data.data
                });
        },
        openCreateDebateModal() {
            this.$eventHub.$emit('open-modal', AddDebate);
        }
    },
    mounted() {
        this.getDataFromApi();
        this.$eventHub.$on('reload-element-single-element', () => {
            this.getDataFromApi();
        });
    }
}
</script>

<style lang="stylus" scoped>

.full-size-container {
    width: 100%
    height: 100%
    .discussions-list-tile {
        padding: 1rem 0 1rem 0
    }
    .bottom-button {
        position: absolute
        right: 1vw
        bottom: 8vh
    }
}

</style>
