<template lang="html">
    <div class="info-tab-container">
        <v-list>
            <v-list-tile-content>
                <v-list-tile-title>Elément</v-list-tile-title>
            </v-list-tile-content>
            <div class="element-description">{{this.element.content}}</div>
            <v-divider class="large-divider"></v-divider><br />
            <v-list-tile-content>
                <v-list-tile-title>Complément</v-list-tile-title>
            </v-list-tile-content>
            <div class="element-description" v-if="this.element.supplement">{{this.element.supplement.content}}</div>
            <div ripple class="add-supplement" @click="openSupplementModal()">
                <v-btn fab dark color="indigo" class="add-icon-container" >
                    <v-icon dark>add</v-icon>
                </v-btn>
                <span class="add-supplement-text">Ajouter/Modifier Complément</span>
            </div>
            <v-divider class="large-divider"></v-divider><br />
            <v-list-tile-content>
                <v-list-tile-title>Informations générales</v-list-tile-title>
            </v-list-tile-content>
            <br />
            <v-list-tile>
                <v-select
                label="Qualité"
                :items="qualityOptions"
                class="select-choice" @change="updateField('qualityOptions', $event)">
                </v-select>
            </v-list-tile>
            <v-divider class="large-divider"></v-divider><br />
            <br />
            <v-list-tile>
                <v-select
                label="Statut"
                :items="statusOptions"
                v-model="element.is_open"
                class="select-choice"
                @change="updateField('statusOptions', $event)">
                </v-select>
            </v-list-tile>
            <v-divider class="large-divider"></v-divider><br />
            <br />
            <v-list-tile>
                <v-select
                label="Exigence client"
                :items="requirementOptions"
                v-model="element.is_client_requirement"
                class="select-choice"
                @change="updateField('requirementOptions', $event)">
                </v-select>
            </v-list-tile>
            <v-divider class="large-divider"></v-divider><br />
            <br />
            <v-list-tile>
                <v-select
                label="Incidence Financière"
                :items="impactOptions"
                class="select-choice"
                @change="updateField('impactOptions', $event)">
                </v-select>
            </v-list-tile>
        </v-list>
    </div>

</template>

<script>
import ModifySupplement from './ModifySupplement'
export default {
    data() {
        return {
            model : {
                is_client_requirement:0,
                is_open: 0,
                impact: {amount: '0'},
            },
            qualityOptions: [],
            requirementOptions: [
                { value: -1, text: 'Oui'},
                { value: 0, text: 'Non'}
            ],
            statusOptions: [
                { value: 0, text: 'Clos'},
                { value: 1, text: 'Ouvert'}
            ],
            impactOptions: []
        }
    },
    computed: {
        element() {
            return this.$store.state.singleElement.data;
        }
    },
    methods: {
        openSupplementModal() {
            this.$eventHub.$emit('open-modal', ModifySupplement);
        },
        updateField(key, value) {
            this.axios.put(`${process.env.API}/elements/${this.$store.state.singleElement.data.id}`, {key: value})
            .then(response => {
                if(response.status === 200) {
                	this.$store.dispatch('updateSingleElementData', { key, value })
                }
            })
            .catch(err => console.log(err))
        }
    }
}
</script>

<style lang="stylus" scoped>
    .add-icon-container{
        height: 24px
        width: 24px
    }
    .add-supplement {
        .add-supplement-text {
            color: indigo !important
        }
    }

    .large-divider {
        width: 100vw
        margin-left: -5vw
        display: inline-block
    }

    .select-choice {
        margin-right: 10vw

    }

    .info-tab-container {
        padding-left: 5vw
        padding-right: 5vw
    }

    .element-description {
        color: rgba(0,0,0,0.54)
    }
</style>
