<template lang="html">
    <v-form  ref="form" @submit.prevent="">
        <v-flex xs12>
            <v-text-field label="Complément" v-model="model.content" :rules="rules.content" required></v-text-field>
        </v-flex>
    </v-form>
</template>

<script>
export default {
    data() {
        return {
            model: {
                content: ''
            },
            rules: {
                content: [
					(v) => !!v || 'Complément obligatoire',
				]
            }
        }
    },
    mounted() {
        if(this.$store.state.singleElement.data.supplement) {
            this.model.content = this.$store.state.singleElement.data.supplement.content;
        }

    },
    methods: {
        onClose() {
            this.$eventHub.$emit('close-modal')
        },
        onValidate() {
            if (this.$refs.form.validate()) {
                this.axios.put(`${process.env.API}/supplements/${this.$store.state.singleElement.data.id}`, this.model)
                    .then(response => {
                        if(response.status === 200) {
                            this.$eventHub.$emit('close-modal');
                            this.$eventHub.$emit('reload-element-single-element');
                        }
                    })
                    .catch(err => console.log(err))
            } else {
                return false;
            }
        }
    }

}
</script>

<style lang="stylus" scoped>

</style>
