<template lang="html">
    <div class="tab">
        <v-tabs  grow class="single-tabs" :scrollable="false">
            <v-tabs-bar >
                <v-tabs-item  class="tab-title" ripple :to="{ name: 'single-elements-informations' }">Informations</v-tabs-item>
                <v-tabs-item class="tab-title" ripple :to="{ name: 'single-elements-debates' }">Débats</v-tabs-item>
                <v-tabs-item class="tab-title" ripple :to="{ name: 'single-elements-client-files' }">Fichiers</br>client</v-tabs-item>
                <v-tabs-slider color= "white" class="tab-slider"></v-tabs-slider>
            </v-tabs-bar>
        </v-tabs>
        <div class="router_view">
            <router-view />
        </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            element:null
        }
    },
    methods : {
        getDataFromApi() {
            this.axios.get(`${process.env.API}/elements/${this.$route.params.id}?embed=supplement,impact,chapter.parent`)
                .then(response => {
                    this.element = response.data.data
                    this.$store.dispatch('setSingleElementData', { data: this.element })

                    this.$store.dispatch('setRightMenuData',{data:this.element.chapter});

                    this.$store.dispatch('setHeaderData',{
                        data :{
                            title:this.element.numbering + '  '+ this.element.content ,
                            search:null,
                            option: {
                                icon: require('../../../assets/img/hamburger_cda.svg'),
                                function:()=>{
                                    if (this.$store.state.rightMenu.data.id >0){
                                        this.$eventHub.$emit('open-right-menu');
                                        this.$eventHub.$emit('open-right-sub-menu');
                                    } else {
                                        this.$eventHub.$emit('open-right-menu');
                                    }
                                },
                            }
                        }
                    });
                });
        },
    },
    watch: {
        $route(to, from) {
            this.getDataFromApi();
        }
    },
    created() {
        this.$eventHub.$on('reload-element-single-element', () => {
            this.getDataFromApi();
        })
    },
    mounted(){
        this.getDataFromApi();
        this.$eventHub.$on('choose-chapter', ()=>{
            if (this.$store.state.rightMenu.data.id > 0){
                this.$router.push({ name: 'pathOfExpectations'})
            } else {
                this.$store.dispatch('setRightMenuData',{data:this.element.chapter});
            }
        });
    },
    beforeDestroy(){
        this.$eventHub.$off('choose-chapter');
    }
}
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/main'

    .single-tabs {
        background-color: $app-tabs-bg-color
        box-shadow: 0 1px 12px 0 $app-tabs-bg-color
        font-size: 1.1rem
        .tab-title{
            color:white !important
        }
    }
</style>
