<template>
       <div class="select-document-informations">
           <v-card class="ma-2">
               <v-card-media
                       @click="launchCamera()"
                       :src="imageUrl"
                       height="300px"
               ></v-card-media>
           </v-card>
           <v-list two-line>
               <list-tile-field
                       title="Titre"
                       @updateField="updateTitle($event)"
                       :model="title">
               </list-tile-field>
               <v-list-tile>
                   <v-list-tile-content>
                       <v-list-tile-title>Répertoire</v-list-tile-title>
                       <v-list-tile-sub-title>{{directoryPath}}</v-list-tile-sub-title>
                   </v-list-tile-content>
                   <!--<v-list-tile-action>
                       <v-btn icon ripple :to="{name:'select-material-kamion'}" @click="$store.dispatch('updateEditData', {key: 'change', value: true})">
                           <v-icon color="grey lighten-1">edit</v-icon>
                       </v-btn>
                   </v-list-tile-action>-->
               </v-list-tile>
           </v-list>
           <v-list class="cancel-button">
               <v-list-tile @click="backButton">
                   <v-list-tile-content>
                       <v-list-tile-title class="text-xs-center blue--text">Annuler</v-list-tile-title>
                   </v-list-tile-content>
               </v-list-tile>
           </v-list>
       </div>
</template>

<script>
    import ListTileField    from "../../../components/ListTileField"
    import moment           from "moment"
    import {MfilesController} from "../../../helpers/MfilesController"

    export default {
        components: {ListTileField},
        data() {
            return {
                imageUrl:'',
                title:'',
                moment,
                allKamion:true
            }
        },
        computed: {
            directoryPath() {
                if (this.haveDirectories)
                    return this.$store.state.editData.data.directoryName + ' > ' + this.$store.state.editData.data.subDirectoryName;
                return 'Autres';
            },
            haveDirectories() {
                return this.$store.state.editData.data.directory > 0 && this.$store.state.editData.data.subDirectory > 0;
            },
            mfiles() {
                return this.$store.state.single.data.mfiles;
            },
        },
        methods : {
            /**
             * Launch Camera Plugin
             */
            launchCamera() {
                if (!!window.cordova) {
                    navigator.camera.getPicture(
                        this.onCaptureSuccess,
                        this.onCaptureError,
                        {
                            quality: 50,
                            destinationType: navigator.camera.DestinationType.FILE_URI
                        }
                    );
                }
            },
            /**
             * Send the picture to Mfiles
             */
            sendPicture() {
                if (!this.imageUrl || !this.title) {
                    return;
                }
                this.$emit('loadingControl', true);
                let mfilesController = new MfilesController();
                console.log(this.$store.state)
console.log(
  this.imageUrl,
  this.mfiles,
  this.registerEntryInApi,
  this.title,
  this.$store.state.editData.data.directory,
  this.$store.state.editData.data.subDirectory,
  this.$store.state.editData.data.directory.ownerId)
                if (this.haveDirectories) {
                    mfilesController.post_object(
                        this.imageUrl,
                        this.mfiles,
                        this.registerEntryInApi,
                        this.title,
                        this.$store.state.editData.data.directory,
                        this.$store.state.editData.data.subDirectory,
						this.$store.state.single.data.stage_id - 1

                    );
                }
            },
            /**
             * Callback for MfilesController post_object
             * @param object
             * @param file
             */
            registerEntryInApi(object, file) {
                //let ext = object.Files[0].Extension;
                this.axios.post(`${process.env.API}/documents`, {
                    title: object.Title,
                    extension: object.Files[0].Extension,
                    author_id: this.$store.state.auth.user.id,
                    mfile_id : object.Files[0].ID.toString(),
                    mfile_object_id : object.DisplayID,
                    mfile_created_at: moment(object.created_at).format('YYYY-MM-DD hh:mm:ss'),
                    mfile_updated_at:moment(object.updated_at).format('YYYY-MM-DD hh:mm:ss'),
                    guid: object.ObjectGUID,
                    kamions: [this.$store.state.single.data.id]
                }).then(response => {
                    this.$emit('loadingControl', false);

                    if (this.haveDirectories) {
                        this.$router.push({
                            name: 'list-documents',
                            params:{
                                tab:'dossiers',
                                folder:this.$store.state.editData.data.directory,
                                subFolder:this.$store.state.editData.data.subDirectory
                            }
                        });
                    }
                    else {
                        this.$router.push({
                            name: 'list-documents',
                            params:{
                                tab:'les-miens'
                            }
                        });
                    }
                }).catch(response => {
                    this.$emit('loadingControl', false);
                })
            },
            /**
             * Register the image url in a variable
             * @param imageData
             */
            onCaptureSuccess(imageData) {
                this.imageUrl = imageData;
            },
            onCaptureError(error) {
                console.log('error', error);
            },
            setHeader() {
                this.$store.dispatch('setHeaderData', {
                    data: {
                        title: 'Ajouter une image',
                        search: null,
                        option: null,
                        back: {
                            icon: 'close',
                            function: () => {
                                this.backButton();
                            }
                        }
                    }
                });
            },
            setFooter(disabled) {
                this.$store.dispatch('setFooterData', {
                    data: {
                        display:true,
                        oneButton : {
                            function: () => {
                                this.sendPicture();
                            },
                            text:'Ajouter',
                            disabled: disabled
                        }
                    }
                });
            },
            updateTitle(value) {
                this.title = value;
            },
            backButton() {
                if (this.haveDirectories) {
                    this.$router.push({
                        name: 'list-documents',
                        params:{
                            tab:'dossiers',
                            folder:this.$store.state.editData.data.directory,
                            subFolder:this.$store.state.editData.data.subDirectory
                        }
                    });
                }
                else if (this.$store.state.editData.data.directory > 0) {
                    this.$router.push({
                        name: 'list-documents',
                        params:{
                            tab:'dossiers',
                            folder: this.$store.state.editData.data.directory,
                        }
                    });
                }
                else {
                    this.$router.push({
                        name: 'list-documents'
                    });
                }
            }
        },
        mounted() {
            this.allKamion = !this.$store.state.single.data.id;
            this.setHeader();
            this.setFooter(true);//deactivate by default the footer
            this.launchCamera();//launch the camera directly the user enter in the page

            //set the default name of the picture
            this.title = 'Photo du ' + moment().format('DD/MM/YYYY');
        },
        watch: {
            /* Update button in footer when the imageUrl is updated*/
            imageUrl(val) {
                this.setFooter(val.length === 0 || !window.cordova);
            }
        }
    }
</script>

<style scoped>
    .cancel-button {
        position: absolute;
        bottom: 5.8rem;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
    }
</style>
