<template>
    <v-list-tile >
        <v-list-tile-content>
            <v-list-tile-title>{{title}}</v-list-tile-title>
            <v-list-tile-sub-title>
                <v-text-field
                        v-if="type === 'text'"
                        v-model="buffer"
                        flat
                        @keyup.enter="toggleEdit"
                        :placeholder="edit ? '' : subTitle"
                        :autofocus="true"
                        :readonly="!edit"
                        ref="field"
                        :mask="mask"
                        :suffix="suffix"
                        solo>
                </v-text-field>
                <v-text-field
                        v-else-if="type === 'number'"
                        v-model="buffer"
                        type="number"
                        flat
                        @keyup.enter="toggleEdit"
                        :placeholder="edit ? '' : subTitle"
                        :autofocus="true"
                        :readonly="!edit"
                        ref="field"
                        :mask="mask"
                        pattern="\d*"
                        :suffix="suffix"
                        solo>
                </v-text-field>
                <v-select
                        v-else-if="type === 'select'"
                        :items="items"
                        @change="toggleEdit"
                        v-model="buffer"
                        :placeholder="subTitle"
                        :readonly="!edit"
                        append-icon=""
                        item-value="key"
                        item-text="value"
                        ref="field"
                        :suffix="suffix"
                        flat
                        solo
                ></v-select>
            </v-list-tile-sub-title>
        </v-list-tile-content>
        <v-list-tile-action>
            <v-btn v-if="edit" @click="toggleEdit" icon ripple>
                <v-icon color="grey lighten-1">check</v-icon>
            </v-btn>
            <v-btn v-else @click="toggleEdit" icon ripple>
                <v-icon color="grey lighten-1">edit</v-icon>
            </v-btn>
        </v-list-tile-action>
    </v-list-tile>
</template>

<script>
    export default {
        name: "list-tile-field",
        data() {
          return {
              edit:false,
              buffer:null,
          }
        },
        props: {
            model: {
              required:true
            },
            title: {
                required:true,
                type:String
            },
            subTitle: {
                default:'',
                type:String
            },
            type: {
                default:'text',
                type:String
            },
            items: {
                type:Array
            },
            mask: {
                type:String,
                default:''
            },
            suffix: {
                type:String,
                default:''
            },
            editable: {
                default:false
            }
        },
        watch: {
            model(val) {
                this.buffer = val;
            },
            editable(val) {
                this.edit = val;
                if (this.edit) {
                    this.$nextTick(() => {
                        this.$refs.field.focus();
                    })
                }
                else {
                    this.$nextTick(() => {
                        this.$refs.field.blur();
                        this.$emit('updateField', this.buffer)
                    })
                }
            }
        },
        mounted: function () {
            this.buffer = this.model;
            this.edit = this.editable;
            if (this.editable) {
                this.$nextTick(() => {
                    this.$refs.field.focus();
                })
            }
        },
        methods:{
            toggleEdit() {
                this.edit = !this.edit;
                if (this.edit) {
                    this.$nextTick(() => {
                        this.$refs.field.focus();
                        this.$emit('editField', this.buffer);
                    })
                }
                else {
                    this.$nextTick(() => {
                        this.$refs.field.blur();
                        this.$emit('updateField', this.buffer);
                    })
                }
            }
        }
    }
</script>

<style lang="stylus" scoped>
    div.list__tile > div.list__tile__content > div.list__tile__sub-title {
        & >>> .input-group {
            min-height auto
        }
        & >>> .input-group__input {
            min-height auto
            padding 0 !important
        }

        & >>> input {
            height auto
            font-size: 14px;
            color rgba(0,0,0,0.54);
        }

        & >>> input::placeholder {
            color rgba(0,0,0,1)!important;
        }

        & >>> div.input-group__selections__comma {
            height auto
            font-size: 14px;
            padding:0;
        }

    }

</style>