<template>
    <v-layout row justify-center>
        <v-dialog v-model="value" persistent content content-class="centered-dialog">
            <v-container fill-height>
                <v-layout column justify-center align-center>
                    <img :src="require('../assets/img/loader.svg')"/>
                </v-layout>
            </v-container>
        </v-dialog>
    </v-layout>
</template>
<script>


    export default {
        name: "LoadingFullscreen",
        data: function() {
            return {}
        },
        props: {
            value: {
                type: Boolean,
                default: false
            },
        }
    }
</script>

<style lang="stylus">
    @require '../assets/css/variables'
    .dialog.centered-dialog {
        background: none;
        box-shadow: none;
        border-radius: 6px;
        width: auto;
        color: $secondary-dark-color;
    }
</style>