<template>
    <div>
        <!-- region search/recent -->
        <template v-if="!all">

            <div v-if="search.length < 3">

                <v-list v-if="last_instructions.length > 0" two-line subheader>
                    <v-subheader>Dernières instructions utilisées</v-subheader>
                    <template v-for="(instruction, index) in lastInstructionsSorted">
                        <v-list-tile :key="index" @click="goToNext(instruction)">
                            <v-list-tile-content v-if="instruction.wana_id !== null">
                                <v-list-tile-title>
                                    {{instruction.wana_number}}<span v-if="instruction.job">  &mdash; {{instruction.job.label}}</span>
                                </v-list-tile-title>
                                <v-list-tile-sub-title>
                                    {{instruction.label}}
                                </v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-content v-else>
                                <v-list-tile-title>
                                    {{instruction.label}}
                                </v-list-tile-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-icon>keyboard_arrow_right</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-divider></v-divider>
                    </template>
                </v-list>


                <v-list class="all-instructions" two-line>
                    <v-divider></v-divider>
                    <v-list-tile @click="toogleAllInstruction">
                        <v-list-tile-content>
                            <v-list-tile-title class="text-xs-center blue--text">Voir toutes les instructions</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </div>

            <v-list v-else two-line>

                <template v-for="(instruction, index) in instructionsSorted" v-if="instruction.wana_id !== null">
                    <v-list-tile :key="index" @click="goToNext(instruction)">
                        <v-list-tile-content v-if="instruction.wana_id !== null">
                            <v-list-tile-title>
                                {{instruction.wana_number}}<span v-if="instruction.job">  &mdash; {{instruction.job.label}}</span>
                            </v-list-tile-title>
                            <v-list-tile-sub-title>
                                {{instruction.label}}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-content v-else>
                            <v-list-tile-title>
                                {{instruction.label}}
                            </v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>
                </template>


                    <v-list-tile v-if="!wana" @click="goToNext(null)">
                        <v-list-tile-content>
                            <v-list-tile-title>Autre</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>



                <template v-if="instructions.length == 0">
                    <v-list-tile v-if="instructions.length == 0" @click="toogleAllInstruction">
                        <v-list-tile-content>
                            <v-list-tile-title class="text-xs-center grey--text">Aucun résultats ne correspond à votre recherche</v-list-tile-title>
                            <v-list-tile-sub-title class="text-xs-center blue--text">
                                Voir toutes les instructions
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </template>
        <!-- endregion -->

        <!-- region all instruction -->
        <template v-else>
            <v-list two-line class="list-all-instructions">
                <template v-for="(instruction, index) in instructionsSorted" v-if="instruction.wana_id !== null">
                    <v-list-tile :key="index" @click="goToNext(instruction)">
                        <v-list-tile-content v-if="instruction.wana_id !== null">
                            <v-list-tile-title>
                                {{instruction.wana_number}}<span v-if="instruction.job">  &mdash; {{instruction.job.label}}</span>
                            </v-list-tile-title>
                            <v-list-tile-sub-title>
                                {{instruction.label}}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-content v-else>
                            <v-list-tile-title>
                                {{instruction.label}}
                            </v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>
                </template>

                <template v-if="pagination === 1 && !wana">
                    <v-list-tile @click="goToNext(null)">
                        <v-list-tile-content>
                            <v-list-tile-title>Autre</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>
                </template>

            </v-list>
            <div class="text-xs-center pagination-container">
                <v-pagination :length="maxpage" v-model="pagination"></v-pagination>
            </div>
        </template>
        <!-- endregion -->

    </div>
</template>

<script>
    export default {
        name:'select-instruction',
        data()  {
            return {
                search:'',
                all:false,
                modify:false,
                instructions:[],
                last_instructions:[],
                specialInstruction:{
                    other:null
                },
                pagination:1,
                maxpage:1
            }
        },
        props: {
            headerTitle: {
                type: String,
                default: '',
            },
            nextRouterName: {
                type: String,
                default:'',
                required:true
            },
            backRouterName: {
                type: String,
                default:'',
            },
            displaySpecialInstruction: {
                type:Boolean,
                default:true
            },
            wana: {
                type:Boolean,
                default:false
            }
        },
        computed: {
            /*Sort instruction by job*/
            instructionsSorted() {
                function compare(a, b) {
                    if (a.job.label < b.job.label)
                        return -1;
                    if (a.job.label > b.job.label)
                        return 1;
                    return 0;
                }
                return this.instructions.sort(compare);
            },
            /*Sort last instruction by job*/
            lastInstructionsSorted() {
                function compare(a, b) {
                    if (a.job.label < b.job.label)
                        return -1;
                    if (a.job.label > b.job.label)
                        return 1;
                    return 0;
                }
                return this.last_instructions.sort(compare);
            }
        },
        methods: {

            /**
             * Go To Next Router
             * @param {Object} instruction
             * */
            goToNext(instruction) {
                if (instruction === null) {
                    instruction = {
                        id:null
                    }
                }

                //store instruction data in edit object
                this.$store.dispatch('updateEditData', {key:'instruction_id', value : instruction.id});
                if (this.wana) {
                    this.$store.dispatch('updateEditData', {key:'instruction_wana_number', value : instruction.wana_number});
                }

                //save in last instruction
                this.axios.post(`${process.env.API}/users/instructions/${instruction.id}`);
                this.$router.push({name:this.nextRouterName});
            },
            toogleAllInstruction() {
                this.all = !this.all;
                this.getDataFromApi();
                this.setHeader();
            },
            getDataFromApi() {
                this.$emit('loadingControl', true);
                let filter_kamion = '';
                filter_kamion = '&filters=kamion_id|=|';
                filter_kamion += this.$store.state.editData.data.kamion_id !== null ? this.$store.state.editData.data.kamion_id : this.$store.state.single.data.id;

                if (!this.all) {

                        let id_kamion = this.$store.state.editData.data.kamion_id !== null ? this.$store.state.editData.data.kamion_id : this.$store.state.single.data.id;
                        this.axios.get(`${process.env.API}/users/${this.$store.state.auth.user.id}/kamions/${id_kamion}/last_instruction`).then(response => {
                            this.last_instructions = response.data;
                            this.$emit('loadingControl', false);
                        }).catch(error => {
                            this.$emit('loadingControl', false);
                        });


                    if (this.search.length > 0) {
                        this.axios.get(`${process.env.API}/instructions?embed=job&search=${this.search}${filter_kamion}`).then(response => {
                            this.instructions = response.data.data;

                            this.$emit('loadingControl', false);
                        }).catch(error => {
                            this.$emit('loadingControl', false);
                        });
                    }
                }
                else {
                    //all instructions with paginations
                    this.axios.get(`${process.env.API}/instructions?embed=job&order=wana_id|asc&page=${this.pagination}${filter_kamion}`).then(response => {
                        this.instructions = response.data.data;
                        this.maxpage = Math.ceil(response.data.count / response.data.per_page);

                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }

            },
            setHeader() {
                if (!this.all) {
                    this.$store.dispatch('setHeaderData', {
                        data: {
                            title: this.headerTitle,
                            search: {
                                function:(searchModel) => {
                                    this.search = searchModel;
                                    if (this.search.length > 2) {
                                        this.getDataFromApi();
                                    }
                                },
                                position:"normal",
                                placeholder: "Choix instruction (ID - Nom - Métier)"
                            },
                            option: null,
                            back: {
                                icon: 'arrow_back',
                                function: () => {
                                    this.$router.push({name: this.backRouterName})
                                }
                            }
                        }
                    });
                }
                else {
                    this.$store.dispatch('setHeaderData', {
                        data: {
                            title: 'Toutes les instructions',
                            search: null,
                            option: null,
                            back: {
                                icon: 'arrow_back',
                                function: () => {this.toogleAllInstruction()}
                            }
                        }
                    });
                }
            },
            setFooter() {
                this.$store.dispatch('setFooterData', {
                    data: {
                        display:false
                    }
                });
            }
        },
        watch: {
            pagination() {
                this.getDataFromApi();
            },
            headerTitle(value) {
                this.$store.dispatch('updateHeaderData', {key: 'title', value})
            }
        },
        mounted() {
            this.allKamion = !this.$store.state.single.data.id;
            this.modify = this.$store.state.editData.data.mode === 'modify';
            this.setHeader();
            this.setFooter();
            this.getDataFromApi();
        }
    }
</script>

<style lang="stylus" scoped>
    @require '../assets/css/variables'



    div.list-all-instructions {
        padding-bottom : 4rem;
    }

    div.all-instructions {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
    }

    div.pagination-container {
        background-color:#fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.5rem 0;
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    }

</style>