<template>
    <div>
        <!-- region search/recent -->
        <template v-if="!all">

            <div v-if="search.length < 3">

                    <v-list v-if="!allKamion && selected_kamion" two-line subheader>
                        <v-subheader>Kamion sélectionné</v-subheader>
                        <v-list-tile avatar v-if="selected_kamion" @click="goToNext(selected_kamion)" class="selected-kamion">
                            <v-list-tile-avatar v-if="selected_kamion.image">
                                <img :src="getImageSource(selected_kamion.image)">
                            </v-list-tile-avatar>
                                <v-list-tile-content v-if="selected_kamion.wana_id !== null">
                                    <v-list-tile-title>
                                        {{selected_kamion.wana_id}}
                                    </v-list-tile-title>
                                    <v-list-tile-sub-title>
                                        {{selected_kamion.name}}
                                    </v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-content v-else>
                                    <v-list-tile-title>
                                        {{selected_kamion.name}}
                                    </v-list-tile-title>
                                </v-list-tile-content>

                                <v-list-tile-action>
                                    <v-icon>keyboard_arrow_right</v-icon>
                                </v-list-tile-action>
                        </v-list-tile>
                        <v-divider></v-divider>
                    </v-list>
                    <v-list avatar v-if="last_kamions.length > 0" two-line subheader>
                        <v-subheader>Derniers kamions utilisés</v-subheader>
                        <template v-for="(kamion, index) in last_kamions">
                            <v-list-tile :key="index" @click="goToNext(kamion)">
                                <v-list-tile-avatar v-if="kamion.image">
                                    <img :src="getImageSource(kamion.image)">
                                </v-list-tile-avatar>
                                <v-list-tile-content v-if="kamion.wana_id !== null">
                                    <v-list-tile-title>
                                        {{kamion.wana_id}}
                                    </v-list-tile-title>
                                    <v-list-tile-sub-title>
                                        {{kamion.name}}
                                    </v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-content v-else>
                                    <v-list-tile-title>
                                        {{kamion.name}}
                                    </v-list-tile-title>
                                </v-list-tile-content>

                                <v-list-tile-action>
                                    <v-icon>keyboard_arrow_right</v-icon>
                                </v-list-tile-action>
                            </v-list-tile>
                            <v-divider></v-divider>
                        </template>
                    </v-list>


                <v-list class="all-kamions" two-line>
                    <v-divider></v-divider>
                    <v-list-tile @click="toogleAllKamion">
                        <v-list-tile-content>
                            <v-list-tile-title class="text-xs-center blue--text">Voir tous les kamions</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </div>

            <v-list v-else two-line>

                <template v-for="(kamion, index) in kamions">
                    <v-list-tile :key="index" @click="goToNext(kamion)">
                        <v-list-tile-avatar v-if="kamion.image">
                            <img :src="getImageSource(kamion.image)">
                        </v-list-tile-avatar>
                        <v-list-tile-content v-if="kamion.wana_id !== null">
                            <v-list-tile-title>
                                {{kamion.wana_id}}
                            </v-list-tile-title>
                            <v-list-tile-sub-title>
                                {{kamion.name}}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-content v-else>
                            <v-list-tile-title>
                                {{kamion.name}}
                            </v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>
                </template>



                <template v-if="kamions.length == 0">
                    <v-list-tile v-if="kamions.length == 0" @click="toogleAllKamion">
                        <v-list-tile-content>
                            <v-list-tile-title class="text-xs-center grey--text">Aucun résultats ne correspond à votre recherche</v-list-tile-title>
                            <v-list-tile-sub-title class="text-xs-center blue--text">
                                Voir tous les kamions
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </template>
        <!-- endregion -->

        <!-- region all kamion -->
        <template v-else>
            <v-list two-line class="list-all-kamions">
                <template v-for="(kamion, index) in kamions" v-if="kamion.wana_id !== null">
                    <v-list-tile avatar :key="index" @click="goToNext(kamion)">
                        <v-list-tile-avatar v-if="kamion.image">
                            <img :src="getImageSource(kamion.image)">
                        </v-list-tile-avatar>
                        <v-list-tile-content v-if="kamion.wana_id !== null">
                            <v-list-tile-title>
                                {{kamion.wana_id}}
                            </v-list-tile-title>
                            <v-list-tile-sub-title>
                                {{kamion.name}}
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-content v-else>
                            <v-list-tile-title>
                                {{kamion.name}}
                            </v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>
                </template>
            </v-list>
            <div class="text-xs-center pagination-container">
                <v-pagination :length="maxpage" v-model="pagination"></v-pagination>
            </div>
        </template>
        <!-- endregion -->

    </div>
</template>

<script>
    export default {
        name:'select-kamion',
        data()  {
            return {
                search:'',
                all:false,
                modify:false,
                kamions:[],
                last_kamions:[],
                selected_kamion:{},
                pagination:1,
                maxpage:1,
                allKamion:false
            }
        },
        props: {
            headerTitle: {
                type: String,
                default: '',
            },
            nextRouterName: {
                type: String,
                default:'',
                required:true
            },
            backRouterName: {
                type: String,
                default:'',
            },
            wana: {
                type:Boolean,
                default:false
            }
        },
        methods: {
            /**
             * Go To Next Router
             * @param {Object} kamion
             * */
            goToNext(kamion) {
                //store kamion data in edit object
                this.$store.dispatch('updateEditData', {key:'kamion_id', value : kamion.id});
                if (this.wana) {
                    this.$store.dispatch('updateEditData', {key:'kamion_wana_id', value : kamion.wana_id});
                }
                this.$router.push({name:this.nextRouterName});
            },
            /*Switch to All Kamion*/
            toogleAllKamion() {
                this.all = !this.all;
                this.getDataFromApi();
                this.setHeader();
            },
            //set the good image url
            getImageSource(image) {
                return image ? `${process.env.STORAGE}/${image}` :'';
            },
            //Get Data From API
            getDataFromApi() {
                this.kamions = [];
                this.$emit('loadingControl', true);


                if (!this.all) {

                    if (this.search.length > 2) {
                        this.axios.get(`${process.env.API}/kamions?search=${this.search}&filters=wana_id|<>|00001,is_locked|=|0`).then(response => {
                            this.kamions = response.data.data;
                            this.$emit('loadingControl', false);
                        }).catch(error => {
                            this.$emit('loadingControl', false);
                        });
                    }
                    else {
                        if (!this.allKamion) {
                            this.axios.get(`${process.env.API}/kamions/${this.$store.state.single.data.id}`).then(response => {
                                this.selected_kamion = response.data.data;
                                this.$emit('loadingControl', false);
                            }).catch(error => {
                                this.$emit('loadingControl', false);
                            });
                        }

                        this.axios.get(`${process.env.API}/kamions/users?filters=is_locked|=|0`).then(response => {
                            this.last_kamions = response.data;
                            this.$emit('loadingControl', false);
                        }).catch(error => {
                            this.$emit('loadingControl', false);
                        });
                    }
                }
                else {
                    //get kamions with pagination
                    this.axios.get(`${process.env.API}/kamions?filters=wana_id|<>|00001,is_locked|=|0&order=delivery|asc&page=${this.pagination}`).then(response => {
                        this.kamions = response.data.data;
                        this.maxpage = Math.ceil(response.data.count / response.data.per_page);
                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }

            },
            /*Set Header*/
            setHeader() {
                if (!this.all) {
                    this.$store.dispatch('setHeaderData', {
                        data: {
                            title: this.headerTitle,
                            search: {
                                function:(searchModel) => {
                                    this.search = searchModel;
                                    if (this.search.length > 2) {
                                        this.getDataFromApi();
                                    }
                                },
                                position:"normal",
                                placeholder: "Choix Kamion (ID - Nom)"
                            },
                            option: null,
                            back: {
                                icon: 'arrow_back',
                                function: () => {
                                    this.$router.push({name: this.backRouterName})
                                }
                            }
                        }
                    });
                }
                else {
                    this.$store.dispatch('setHeaderData', {
                        data: {
                            title: 'Tous les kamions',
                            search: null,
                            option: null,
                            back: {
                                icon: 'arrow_back',
                                function: () => {this.toogleAllKamion()}
                            }
                        }
                    });
                }
            },
            setFooter() {
                this.$store.dispatch('setFooterData', {
                    data: {
                        display:false
                    }
                });
            }
        },
        watch: {
            pagination() {
                this.getDataFromApi();
            },
            headerTitle(value) {
                this.$store.dispatch('updateHeaderData', {key: 'title', value})
            }
        },
        mounted() {
            this.allKamion = !this.$store.state.single.data.id;
            this.modify = this.$store.state.editData.data.mode === 'modify';
            this.setHeader();
            this.setFooter();
            this.getDataFromApi();
        }
    }
</script>

<style lang="stylus" scoped>
    @require '../assets/css/variables'

    div.selected-kamion >>> a {
        background: rgba(0,0,0,0.12);
    }

    div.list-all-kamions {
        padding-bottom : 4rem;
    }

    div.all-kamions {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
    }

    div.pagination-container {
        background-color:#fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.5rem 0;
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    }

</style>