<template>
    <div
            v-touch="{
                left: () => onSwipe('left'),
                right: () => onSwipe('right')
            }"
            class="materials-list" >
        <v-tabs dark grow  class="single-tabs" slider-color="white" v-model="tabs">
            <v-tab @click="getDataFromApi('soumises')" class="tab-title" ripple href="#soumises" >Soumises</v-tab>
            <v-tab @click="getDataFromApi('validees')" class="tab-title" ripple href="#validees">Validées</v-tab>
        </v-tabs>

        <v-list two-line v-if="tabs === 'soumises'" class="the-list">
            <template v-for="(material, index) in materials">
                <v-list-tile v-if="material.material_resource" :key="index" ripple :to="{name:'single-material', params:{id:material.id, status: tabs}}">
                    <v-list-tile-content>
                        <v-list-tile-title>{{material.material_resource.wana_id}} - {{material.material_resource.label}}</v-list-tile-title>
                        <v-list-tile-sub-title>
                            <template v-if="material.instruction.wana_number">{{material.instruction.wana_number}} - </template>
                            {{material.instruction.label}}
                        </v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        {{material.quantity}} / {{material.material_resource.unit_label}}
                    </v-list-tile-action>
                </v-list-tile>
                <v-divider></v-divider>
            </template>
        </v-list>
        <v-list v-else class="the-list">
            <template v-for="(material, index) in materials">
                <v-list-tile :key="index" :to="{name:'single-material', params:{id: index, status: tabs}}" ripple>
                    <v-list-tile-content>
                        <v-list-tile-title>{{material.sNum}}</v-list-tile-title>
                        <v-list-tile-sub-title>--</v-list-tile-sub-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        {{material.rQtte}} / --
                    </v-list-tile-action>
                </v-list-tile>
                <v-divider></v-divider>
            </template>
        </v-list>

        <v-fab-transition>
            <v-btn
                    dark
                    fixed
                    fab
                    bottom
                    right
                    class="float-add-button"
                    @click="addMaterial"
            >
                <img :src="require('../../../assets/img/ajout_matiere.svg')"/>
            </v-btn>
        </v-fab-transition>
        

    </div>
</template>

<script>
    import moment from 'moment'
    moment.locale('fr');

    export default {
        data() {
            return {
                materials:[],
                dialogPutTime: false,
                selectedTime:null,
                allKamion:false,
                moment,
                tabs:null
            }
        },
        methods: {
            /*Get Data From API*/
            getDataFromApi(filter) {
                this.$emit('loadingControl', true);
                let kamionFilter = '';
                this.materials = [];
                //Wana
                if (filter === 'validees') {
                    if (!this.allKamion) {
                        kamionFilter = this.$store.state.single.data.wana_id;
                    }
                    this.axios.get(`${process.env.WANA}/sortieMatiere/${this.$store.state.auth.user.wana_id}/${kamionFilter}`).then(response => {
                        this.materials = response.data;
                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }
                //own api
                else {
                    if (!this.allKamion) {
                        kamionFilter = ',kamion_id|=|' + this.$store.state.single.data.id;
                    }
                    this.axios.get(`${process.env.API}/materials?embed=material_resource,instruction&filters=user_id|=|${this.$store.state.auth.user.id}${kamionFilter}&order=updated_at|desc`).then(response => {
                        this.materials = response.data.data;
                        this.$emit('loadingControl', false);
                    }).catch(error => {
                        this.$emit('loadingControl', false);
                    });
                }
            },
            /*Prepare store to edit and redirect the use to step by step add material*/
            addMaterial() {
                this.$store.dispatch('setEditData', {
                    data: {
                        mode:                       'add',
                        kamion_id:                  null,
                        instruction_id:             null,
                        materialresource_id:        null,
                        materialresource_wana_id:   null,
                        kamion_wana_id:             null,
                        instruction_wana_number:    null,
                        quantity:                   null,
                        change:                     false
                    }
                });
                this.$router.push({name : "select-material-kamion"});
            },
            /*Manage the swipe control tabs*/
            onSwipe(direction) {
                if (direction === 'left' && this.tabs === 'soumises') {
                    this.tabs = 'validees';
                    this.getDataFromApi(this.tabs);
                }
                else if (direction === 'right' && this.tabs === 'validees') {
                    this.tabs = 'soumises';
                    this.getDataFromApi(this.tabs);
                }
            }
        },
        mounted() {
            this.allKamion = !this.$store.state.single.data.id;//detect if we are in all kamion or not

            if (this.$route.params.status !== undefined) {
                this.tabs = this.$route.params.status;
                this.getDataFromApi(this.tabs);
            }
            else {
                this.getDataFromApi('');
            }

            //set the header
            this.$store.dispatch('setHeaderData',{
                data :{
                    title: 'Mes sorties matières',
                    search:null,
                    option:null,
                    back:false
                }
            });

            //display the footer
            this.$store.dispatch('setFooterData', {
                data: {
                    display:true
                }
            });
        }

    }
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/variables.styl'
    div.materials-list {
        min-height: $app-content-height

        button.float-add-button {
            bottom: 'calc( %s + 2rem)' % $app-bottom-height !important
            background-color: $secondary-dark-color!important
        }

        div.list.the-list {
            padding-top: 0;
            padding-bottom: 'calc( %s + 4rem)' % $app-bottom-height !important
        }
    }
</style>