<template>
    <div>
        <v-list v-if="logtime" two-line>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Durée</v-list-tile-title>
                    <v-list-tile-sub-title v-if="logtime.length">{{formatMin(logtime.length)}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list v-if="logtime" two-line subheader>
            <v-subheader>Informations Générales</v-subheader>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Kamion lié</v-list-tile-title>
                    <v-list-tile-sub-title v-if="logtime.kamion">{{logtime.kamion.name}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-list v-if="logtime" three-line>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Instruction liée</v-list-tile-title>
                    <v-list-tile-sub-title v-if="logtime.instruction">
                        {{logtime.instruction.wana_number}} - Métier<br/>
                        {{logtime.instruction.label}}
                    </v-list-tile-sub-title>
                    <v-list-tile-sub-title v-else>
                        SANS INSTRUCTION
                    </v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-list v-if="logtime" two-line>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Statut</v-list-tile-title>
                    <v-list-tile-sub-title v-if="logtime.statuslogtime">
                        {{logtime.statuslogtime.label}}
                    </v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile>
                <v-list-tile-content>
                    <v-list-tile-title>Compagnon</v-list-tile-title>
                    <v-list-tile-sub-title v-if="logtime.user">{{logtime.user.first_name}} {{logtime.user.last_name}}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list subheader two-line v-if="(Object.keys(histories.validated).length + Object.keys(histories.controlled).length + Object.keys(histories.submitted).length) > 0">
                <v-subheader>Historique de validation</v-subheader>

                    <v-list-tile v-if="Object.keys(histories.validated).length > 0">
                        <v-list-tile-content>
                            <v-list-tile-title>Validation</v-list-tile-title>
                            <v-list-tile-sub-title>
                                {{ histories.validated.remark === 'ok' ? 'Validé' : 'Non validé' }} le {{ moment(histories.validated.created_at).format('DD/MM/YYYY à hh:mm') }} par
                                <span v-if="histories.validated.user">{{histories.validated.user.first_name}} {{histories.validated.user.last_name}}</span>
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-if="Object.keys(histories.controlled).length > 0">
                        <v-list-tile-content>
                            <v-list-tile-title>Contrôle</v-list-tile-title>
                            <v-list-tile-sub-title>
                                Contrôle {{ histories.controlled.remark === 'ok' ? 'ok' : 'non ok' }} le {{ moment(histories.controlled.created_at).format('DD/MM/YYYY à hh:mm') }} par
                                <span v-if="histories.controlled.user">{{histories.controlled.user.first_name}} {{histories.controlled.user.last_name}}</span>
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile v-if="Object.keys(histories.submitted).length > 0">
                        <v-list-tile-content>
                            <v-list-tile-title>Compagnon</v-list-tile-title>
                            <v-list-tile-sub-title>
                                Soumis le {{ moment(histories.submitted.created_at).format('DD/MM/YYYY à hh:mm') }}
                                <template v-if="histories.submitted.user"> par {{histories.submitted.user.first_name}} {{histories.submitted.user.last_name}}</template>
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                    </v-list-tile>
            </v-list>
    </div>
</template>

<script>
    import moment from 'moment'
    moment.locale('fr');

    export default {
        data() {
            return {
                logtime : {},
                moment,
                histories:{
                    submitted:{},
                    controlled:{},
                    validated:{}
                }
            }
        },
        methods: {
            /* Get Data From API */
            getDataFromApi() {
                this.$emit('loadingControl', true);
                this.axios.get(`${process.env.API}/logtimes/${this.$route.params.id}?embed=instruction,statuslogtime,kamion,user,histories.user`).then(response => {
                    this.logtime = response.data.data;
                    this.$store.dispatch('setHeaderData',{
                        data :{
                            title: (this.logtime.instruction.wana_id ? this.logtime.instruction.wana_number : 'SANS INSTRUCTION') + ' - ' + this.logtime.instruction.label,
                            back: {
                                icon: 'arrow_back',
                                function: () => {
                                    this.$router.push({ name:'list-logtimes', params: {status: this.$route.params.status}});
                                }
                            }
                        }
                    });
                    this.setHistories(this.logtime.histories);
                    this.$emit('loadingControl', false);
                }).catch(error => {
                    this.$emit('loadingControl', false);
                });
            },
            /** Set the most recent histories
             * @param {array} histories
             * */
            setHistories(histories) {
                histories.forEach(history => {
                    if (Object.keys(this.histories[history.type]).length === 0 || history.created_at > this.histories[history.type].created_at) {
                        this.histories[history.type] = history;
                    }
                });
            },
            /**
             *  Format time length to readable time string
             *  Example : 3 become 00:45
             *  @param {int} length
             */
            formatMin(length) {
                let min = length * 15;
                let hour = Math.floor(min/60);

                min = min - (hour * 60);
                hour = (hour > 9 ? hour : '0' + hour);
                min = (min === 0 ? '00' : min);

                return hour + ':' + min;
            },
        },
        mounted() {
            this.getDataFromApi();

            // No display footer
            this.$store.dispatch('setFooterData', {
                data: {
                    display:false
                }
            });
        }
    }
</script>

<style scoped>

</style>