<template>
    <div id="app">
        <v-app>
            <router-view></router-view>
        </v-app>
    </div>
</template>

<script>
    export default {
        mounted() {

            //disable text selection
            let app = document.getElementById('app');
            app.style.userSelect = "none";
            app.style.webkitUserSelect = "none";
            app.style.MozUserSelect = "none";
            app.setAttribute("unselectable", "on"); // For IE and Opera


            document.addEventListener("deviceready", () => {

                //set fullscreen android
                AndroidFullScreen.isSupported(result => {
                    if (result === true)
                        AndroidFullScreen.immersiveMode();
                });

                //disable the full screen for keyboard shrink the content
                window.addEventListener('native.keyboardshow', function (e) {
                    AndroidFullScreen.showSystemUI();
                });

                //enabled the full screen when the keyboard was hidden
                window.addEventListener('native.keyboardhide', function (e) {
                    AndroidFullScreen.immersiveMode();
                });

            }, false);
        }

    }
</script>

<style lang="stylus">
    @require 'assets/css/main'

</style>
