<template>
    <div class="notifications-list">
        <v-list three-line class="the-list" subheader>
            <template v-for="(notification, index) in notifications">
                <v-list-tile :key="index" avatar :class="notification.no_read ? 'no-read' : ''">
                    <v-list-tile-avatar>
                        <v-icon>{{getNotificationIcon(notification.type)}}</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ notification.title }}</v-list-tile-title>
                        <v-list-tile-sub-title>
                            <template v-if="notification.row1">
                                {{ notification.row1 }}
                            </template>
                            <template v-if="notification.row2">
                                <br/>
                                {{ notification.row2 }}
                            </template>
                            <template v-if="notification.row3">
                                {{ notification.row3 }}
                            </template>
                        </v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>
            </template>
        </v-list>
    </div>
</template>

<script>
    import moment from 'moment'
    moment.locale('fr');

    export default {
        data() {
            return {
                moment,
                notifications:[]
            }
        },
        methods: {
            /**
             * Return the good icon for the notification type
             * @param {string} type
             * @return {string}
             */
            getNotificationIcon(type) {
                switch (type) {
                    case "TICKET":
                        return 'mdi-tag';
                    case "DEBAT":
                        return 'mdi-forum';
                    default:
                        return 'mdi-bell';
                }
            },
            /*get the 20 most recent notifcations for the current user*/
            getDataFromApi() {
                this.axios.get(`${process.env.API}/notifications?order=created_at|desc&embed=users,parameters,notification_ticket.ticket&filters=users.id|=|${this.$store.state.auth.user.id}&page=1&per_page=20`).then(response => {
                    this.notifications = [];
                    let result = {};
                    response.data.data.forEach(item => {
                        result = item;
                        result.no_read = false;
                        if (item.users_count > 0) {
                            item.users.forEach(user => {
                                if (user.id == this.$store.state.auth.user.id && user.pivot.is_read == 0) {
                                    result.no_read = true;
                                }
                            });
                        }
                        this.notifications.push(result);
                    });
                });
            },
            //set read all notifications  for ther user
            allRead() {
                this.axios.put(`${process.env.API}/notifications/users/${this.$store.state.auth.user.id}`);
            },
            setHeader() {
                this.$store.dispatch('setHeaderData', {
                    data: {
                        title: 'Notifications',
                        search: null,
                        option: null,
                        back: false
                    }
                });
            },
            setFooter() {
                this.$store.dispatch('setFooterData', {
                    data: {
                        display:true
                    }
                });
            }
        },
        mounted() {
            this.setHeader();
            this.setFooter();
            this.allRead();//all notifications readed when the user is in the list of notifications page
            this.getDataFromApi();
        }
    }
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/variables.styl'
    div.notifications-list {
        min-height: $app-content-height
    }

    div.list.the-list {
        padding-bottom: 'calc( %s + 4rem)' % $app-bottom-height !important
    }

    div.no-read >>> div.list__tile {
        background: rgba(0,0,0,0.12);
    }
</style>