<template lang="html" >
    <div class="switch"
         v-touch="{
            left: () => onSwipe('left'),
            right: () => onSwipe('right')
        }"
    >
        <v-tabs dark grow  class="single-tabs" slider-color="white" v-model="tabs">
            <v-tab @click="getDataFromApi('all')" class="tab-title" ripple href="#tous-les-kamions" >Derniers consultés</v-tab>
            <v-tab @click="getDataFromApi('last')" class="tab-title" ripple href="#recemment-consultes">Derniers ajoutés</v-tab>
        </v-tabs>
        <v-list two-line class="the-list" :class="tabs === 'tous-les-kamions' ? '' : 'pagination-on'">
            <template v-for="(kamion, index) in kamions" v-if="ids.indexOf(kamion.id) !== -1">
                    <v-list-tile :key="index" ripple :to="{ name:'single-kamion', params: { id: kamion.id }}">
                        <v-list-tile-avatar>
                            <img :src="getImageSource(kamion.image)">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title class="kamions-list-element-title">{{ kamion.name }}</v-list-tile-title>
                            <v-list-tile-sub-title class="kamions-list-element-subtitle">{{kamion.wana_id}} {{projectManager(kamion)}}</v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-icon>keyboard_arrow_right</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider></v-divider>
            </template>

        </v-list>

        <v-fab-transition>
            <v-btn
                    v-if="$store.state.single.data.id > 0"
                    dark
                    fixed
                    fab
                    color="blue"
                    bottom
                    right
                    class="float-add-button"
                    :class="tabs === 'tous-les-kamions' ? '' : 'pagination-on'"
                    @click="switchToAll"
            >
                <img :src="require('../../../assets/img/kamions.svg')"/>
            </v-btn>
        </v-fab-transition>

        <div class="text-xs-center pagination-container" v-if="tabs === 'recemment-consultes'">
            <v-pagination :length="maxpage" v-model="pagination"></v-pagination>
        </div>
    </div>
</template>

<script>
export default {
	data() {
		return {
			kamions : [],
			ids:[],
            tabs:null,
            search:"",
            pagination:1,
            maxpage:1,
			seeall2step:null
		}
	},
	methods: {
		getDataFromApi(table_data) {
            this.$emit('loadingControl', true);
			var url = this.$store.state.auth.permissions.indexOf(this.seeall2step) !== -1 ?
				`${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.$store.state.auth.user.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&fields=id` :
				`${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0&fields=id`;
			this.$http.get(url).then(rep => {
				this.ids = []
				console.log(rep)
				rep.data.data.forEach(i => {
					this.ids.push(i.id)
				})
			})

			this.$http.get(`${process.env.API}/permissions/seeall2step`).then(rep => {
				this.seeall2step = Number(rep.data);
				let embed;
				if (table_data === 'last') {
					var url = this.$store.state.auth.permissions.indexOf(this.seeall2step) !== -1 ?
						`${process.env.API}/kamions?filters=pilots.kamion_user.user_id|=|${this.$store.state.auth.user.id},stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0` :
						`${process.env.API}/kamions?filters=stage_id|=|3,open_phase_2|=|1,is_locked|=|0;stage_id|in|5$4,is_locked|=|0;is_visible|=|1,is_locked|=|0`;

					embed = `?embed=users&order=ordered_at|desc&page=${this.pagination}`;
				}
				else {
					var url = `${process.env.API}/kamions/users`
					embed = '';
				}

				if (this.search.length > 2) {
					embed += '&search=' + this.search;
				}

				this.axios.get(`${url}${embed}`).then(response => {
					this.kamions = table_data === 'last' ? response.data.data : response.data;
					if (table_data === 'last') {
						this.maxpage = Math.ceil(response.data.count / response.data.per_page);
					}
					this.$emit('loadingControl', false);
				}).catch(error => {
					this.$emit('loadingControl', false);
				});

			})
		},
        getImageSource(image) {
            let url = `${process.env.STORAGE}/` + image;
            return image ? url :'';
        },
        projectManager(kamion) {
            if (kamion.users !== undefined) {
                let project_manager = kamion.users.find(function(element) {
                    return element.pivot.is_project_manager === 1;
                });
                return project_manager !== undefined ? '(' + project_manager.first_name + ' ' + project_manager.last_name + ')' : '';

            }
            return '';
        },
        switchToAll() {
            this.$store.dispatch('setSingleData', { data:{}});
        },
        onSwipe(direction) {
		   if (direction === 'right' && this.tabs === 'recemment-consultes') {
		       this.tabs = 'tous-les-kamions';
               this.getDataFromApi('all');
           }
           else if (direction === 'left' && this.tabs === 'tous-les-kamions') {
               this.tabs = 'recemment-consultes';
               this.getDataFromApi('last');
           }
        },
        setHeader() {
            this.$store.dispatch('setHeaderData',{
                data : {
                    title   : 'Accueil - HUB TTK',
                    search  : null,
                    option  : null,
                    search: {
                        function:(searchModel) => {
                            this.search = searchModel;

                                if (this.tabs === 'recemment-consultes') {
                                    this.getDataFromApi('last');
                                }
                                else {
                                    this.getDataFromApi('last');
                                }

                        },
                        position:"normal",
                        placeholder: "Recherche Kamion (ID - Nom)"
                    },
                }
            });
        }
	},
    mounted() {
		this.getDataFromApi();
        this.setHeader();
        this.$store.dispatch('setFooterData', {
            data: {
                display:true
            }
        });
	},
    watch: {
	    tabs() {
            this.search = '';
            this.setHeader();
        },
        pagination() {
            this.getDataFromApi('last');
        }
    }
}
</script>

<style lang="stylus" scoped>
    @require '../../../assets/css/variables.styl'

    div.switch {
        min-height: $app-content-height

        .single-tabs {
            background-color: $app-tabs-bg-color
            box-shadow: 0 1px 12px 0 $app-tabs-bg-color
            .tab-title{
                color:white !important
            }
        }

        button.float-add-button {
            bottom: 'calc( %s + 2rem)' % $app-bottom-height !important
            &.pagination-on {
                bottom: 'calc( %s + 6rem)' % $app-bottom-height !important
            }
        }

        div.pagination-container {
            background-color:#fff;
            position: absolute;
            bottom: $app-bottom-height;
            width: 100%;
            padding: 0.5rem 0;
            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        }


        div.list.the-list {
            padding-top: 0;
            padding-bottom: 'calc( %s + 2rem)' % $app-bottom-height !important;
            &.pagination-on {
                padding-bottom: 'calc( %s * 2 + 2rem)' % $app-bottom-height !important;
            }
        }



    }

</style>
