<template lang="html">
    <v-container grid-list-md>
        <v-layout row>
            <v-flex xs10 offset-xs1 sm8 offset-sm2 md6 offset-md3  lg4 offset-lg4  class="form-wrapper">

                <h1 class='title'>Hub</h1>

                <v-form @submit="submit" v-model="valid" ref="form">

                    <v-text-field
                        label="Utilisateur"
                        v-model="username"
                        :rules="usernameRules"
                        dark
                        required
                    ></v-text-field>

                    <v-text-field
                        label="Mot de passe"
                        type="password"
                        v-model="password"
                        :rules="passwordRules"
                        dark
                        required
                    ></v-text-field>

                    <v-btn large round type="submit" :loading="loading">
                        <img src="../../assets/img/kamionico.svg" class="kamion-icon icon--left"/>
                        Se connecter
                    </v-btn>

                </v-form>
            </v-flex>
        </v-layout>

        <v-snackbar bottom color="error" v-model="snackbar" @click.native="snackbar = false">
            <v-icon dark class="mr-3">warning</v-icon>
            {{ $store.state.auth.error }}
        </v-snackbar>

    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                valid: false,
                username: '',
                usernameRules: [
                    (v) => !!v || 'Nom d\'utilisateur obligatoire'
                ],
                password: '',
                passwordRules: [
                    (v) => !!v || 'Mot de passe obligatoire',
                ],
                loading: false,
                snackbar: false
            }
        },

        methods: {
            submit(e) {
                e.preventDefault();
                if(this.$refs.form.validate()) {
                    this.loading = true;
                    this.$store.dispatch('clearLoginError');
                    this.$store.dispatch('login', { username: this.username, password: this.password });
                }
            },
            loginByNfcListener() {
                //event when a card is discovered
                nfc.addTagDiscoveredListener(this.loginByNfc);
            },
            loginByNfc(result){
                let badge_id = nfc.bytesToHexString(result.tag.id);//get the tag uid and convert to hex string
                this.loading = true;
                this.$store.dispatch('clearLoginError');
                this.$store.dispatch('loginNFC', { badge_id });//try to connect with the card uid
            }
        },
        mounted() {
            if (!!window.cordova) {
                //add cordova listener
                document.addEventListener("deviceready", this.loginByNfcListener, false);
            }
        },
        beforeDestroy() {
            if (!!window.cordova) {
                //remove listeners (cordova & card listener)
                document.removeEventListener("deviceready", this.loginByNfcListener, false);
                nfc.removeTagDiscoveredListener(this.loginByNfc);
            }
        },
        watch: {
            '$store.state.auth.error'(val) {
                if(val !== null) {
                    this.loading    = false
                    this.snackbar   = true
                }
            },

            '$store.state.auth.isConnected'(val) {
                if(val === true) {
                    this.$store.dispatch('loginMfiles');
                    this.$router.push('/')
                }
            }
        }
    }
</script>

<style lang="stylus" scoped>
    @require '../../assets/css/variables'

    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-weight: 700
            text-transform:uppercase
            margin: 0 auto 3rem
            color: #fff
            font-size:4rem!important
        }

        button {
            background: $secondary-dark-color !important
            color: #fff!important
        }

        form {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                width: 80%
                margin-top: 4rem
            }
        }
    }

    .snack {
        font-weight: 500;
    }

</style>
